<template>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 body-bg">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2">Categorías</h1>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addModal"
      style="margin-bottom:2em;"
    >
      <span class="icon-" style="font-size:1.2em; font-weight:bold; margin-right:0.5em;">+</span>
      Agregar nueva categoría
    </button>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Nombre</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="category in categories" :key="category.id">
            <td>{{category.name}}</td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">Agregar un nueva categoria</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="add input-group">
              <label>Categoria:</label>
              <input
                type="text"
                name="ingredient-name"
                id="ingredient-name"
                placeholder="Nombre"
                class="input__text"
                v-model="name"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="addCategory">Agregar Ingrediente</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
//import Toasted from "vue-toasted";
export default {
  name: "Category",
  mounted() {
    this.getCategories();
  },
  data() {
    return {
      name: "",
      categories: "",
      cook: [],
      info: ""
    };
  },
  methods: {
        getCategories(){
      axios.get('./api/categories')
      .then( response => {
        this.categories = response.data.categories
      })
      .catch ( error => console.log(error))
    },
    checkForm() {
      var output = false;
      if (this.name != "") {
        output = true;
      }
      return output;
    },
    addCategory() {

      //Check that the information is correct
      if (this.checkForm() == true) {
        axios
          .post("./api/add/category", {
            name: this.name
          })
          .then(response => {
            this.categories.push(response.data.category)

            //Show Succes Toast
            let toast = this.$toasted.show(
              response.data.message,
              {
                theme: "outline",
                position: "bottom-center",
                duration: 3000
              }
            );
            //Reset Submit Info
            this.name = "";
          });
      } else {
        let toast = this.$toasted.show(
          "Debes ingresar todos los datos para crear un nuevo ingrediente",
          {
            theme: "bubble",
            position: "bottom-center",
            duration: 3000
          }
        );
      }
    }
  }
};
</script>

