<template>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 body-bg">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2">Técnicas de cocción</h1>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addModal"
      style="margin-bottom:2em;"
      @click="resetCook"
    >
      <span class="icon-" style="font-size:1.2em; font-weight:bold; margin-right:0.5em;">+</span>
      Nuevo método de cocción
    </button>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Descripcion</th>
            <th>Herramienta</th>
            <th>Proteína</th>
            <th>Ensalada</th>
            <th>Granos</th>
            <th>Cereal</th>
            <th>Verduras</th>
            <th>Frutas</th>
            <th>Ingredientes</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="tecnic in tecnics" :key="tecnic.id">
            <td>{{tecnic.name}}</td>
            <td v-html="tecnic.description"></td>
                        <td>
              <span v-for="tool in tecnic.tools" :key="tool.id" class="tecnic">
                {{tool.name}}
                <span class="separator">-</span>
              </span>
            </td>
            <td v-html="tecnic.protein"></td>
            <td v-html="tecnic.salad"></td>
            <td v-html="tecnic.grain"></td>
            <td v-html="tecnic.cereal"></td>
            <td v-html="tecnic.vegetable"></td>
            <td v-html="tecnic.fruit"></td>

            <td>
              <div
                v-for="ingredient in groupBy(tecnic.ingredients, 'category_id')"
                :key="ingredient.id"
              >
                <span v-show="ingredient[0].category_id == 1">Proteínas:</span>
                <span v-show="ingredient[0].category_id == 2">Frutas:</span>
                <span v-show="ingredient[0].category_id == 3">Verduras:</span>
                <span v-show="ingredient[0].category_id == 5">Salsas:</span>
                <span v-show="ingredient[0].category_id == 6">Aderezos:</span>
                <span v-show="ingredient[0].category_id == 7">Hortalizas:</span>
                {{ingredient.length}}
              </div>
              <!-- {{groupBy(tecnic.ingredients, 'category_id')}} -->
            </td>
            <td>
              <i class="fas fa-edit" @click="showEditModal(tecnic)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">Agregar un nuevo método de cocción</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="add input-group">
              <label>Nombre:</label>
              <input
                type="text"
                name="ingredient-name"
                id="ingredient-name"
                placeholder="Nombre"
                class="input__text"
                v-model="name"
              />
                                          <div>
                <label>Herramientas</label>

                <multiselect
                  v-model="tool"
                  placeholder="Seleccionar las herramientas"
                  :options="getToolTypes(tools)"
                  :multiple="true"
                  :searchable="true"
                  track-by="id"
                  label="name"
                  :close-on-select="false"
                ></multiselect>
              </div>

              <label>Descripción:</label>
              <vue-editor v-model="description"></vue-editor>

              <label>Proteína:</label>
              <vue-editor v-model="proteina"></vue-editor>

              <label>Ensalada:</label>
              <vue-editor v-model="ensalada"></vue-editor>

              <label>Granos:</label>
              <vue-editor v-model="granos"></vue-editor>

                            <label>Cereal:</label>
              <vue-editor v-model="cereal"></vue-editor>


              <label>Verduras:</label>
              <vue-editor v-model="verduras"></vue-editor>

              <label>Frutas:</label>
              <vue-editor v-model="frutas"></vue-editor>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="addCookMethod">Agregar Técnica</button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">Editar método de cocción</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="add input-group">
              <label>Nombre:</label>
              <input
                type="text"
                name="ingredient-name"
                id="ingredient-name"
                placeholder="Nombre"
                class="input__text"
                v-model="name"
              />

                            <div>
                <label>Herramientas</label>

                <multiselect
                  v-model="tool"
                  placeholder="Seleccionar las herramientas"
                  :options="getToolTypes(tools)"
                  :multiple="true"
                  :searchable="true"
                  track-by="id"
                  label="name"
                  :close-on-select="false"
                ></multiselect>
              </div>


              <label>Descripción:</label>
              <vue-editor v-model="description"></vue-editor>

              <label>Proteína:</label>
              <vue-editor v-model="proteina"></vue-editor>

              <label>Ensalada:</label>
              <vue-editor v-model="ensalada"></vue-editor>

              <label>Granos:</label>
              <vue-editor v-model="granos"></vue-editor>
                            <label>Cereal:</label>

              <vue-editor v-model="cereal"></vue-editor>

              <label>Verduras:</label>
              <vue-editor v-model="verduras"></vue-editor>

              <label>Frutas:</label>
              <vue-editor v-model="frutas"></vue-editor>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="editCookMethod">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  components: {
    VueEditor
  },
  name: "Cook",
  mounted() {
    this.getCookMethods();
    this.getTools();
  },
  data() {
    return {
      name: "",
      description: "",
      proteina: "",
      ensalada: "",
      granos: "",
      verduras: "",
      cereal: "",
      frutas: "",
      tecnics: [],
      tecnic: {},
      tools: [],
      tool: []
    };
  },
  methods: {
        getToolTypes(tools) {
      let options = [];

      tools.map(tool => {
        let temp = {
          id: tool.id,
          name: tool.name
        };
        options.push(temp);
      });
      return options;
    },
        getTools() {
      axios
        .get("./api/tools")
        .then(response => {
          this.tools = response.data.tools;
        })
        .catch(error => console.log(error));
    },
    resetCook() {
      this.name = "";
      this.description = "";
            this.proteina = ""
      this.ensalada = ""
      this.granos = ""
      this.verduras = ""
      this.frutas = ""
      this.tool = []
    },

    showEditModal(tecnic) {
      this.tecnic = tecnic;
      this.name = this.tecnic.name;
      this.description = this.tecnic.description;
      this.proteina = this.tecnic.protein;
      this.ensalada = this.tecnic.salad;
      this.granos = this.tecnic.grain;
      this.cereal = this.tecnic.cereal;
      this.verduras = this.tecnic.vegetable;
      this.frutas = this.tecnic.fruit;
            this.tool = tecnic.tools.map(tool => {
        return { id: tool.id, name: tool.name };
      });

      $("#editModal").modal();
    },
    getCookMethods() {
      axios
        .get("./api/tecnics")
        .then(response => {
          this.tecnics = response.data.tecnics;
          //console.log(this.tecnics);
        })
        .catch(error => console.log(error));
    },
    checkForm() {
      var output = false;
      if (this.name != "") {
        output = true;
      }
      return output;
    },
    addCookMethod() {
      //Check that the information is correct
      if (this.checkForm() == true) {
        axios
          .post("./api/add/tecnic", {
            name: this.name,
            salad: this.ensalada,
            vegetable: this.verduras,
            fruit: this.frutas,
            grain: this.granos,
            cereal: this.cereal,
            protein: this.proteina,
            tools: this.tool.map(tool => tool.id),
          })
          .then(response => {
            this.tecnics.push(response.data.tecnic);

            //Show Succes Toast
            let toast = this.$toasted.show(response.data.message, {
              theme: "outline",
              position: "bottom-center",
              duration: 3000
            });
            //Reset Submit Info
            this.category = "";
            this.family = "";
            this.cook = [];
            this.name = "";
            this.tool = [];
          })
          .catch( err => console.log(err))
      } else {
        let toast = this.$toasted.show(
          "Debes ingresar todos los datos añadir una técnica de cocción",
          {
            theme: "bubble",
            position: "bottom-center",
            duration: 3000
          }
        );
      }
    },
    editCookMethod() {
     // console.log(this.tool)
      axios
        .put("./api/tecnic/edit", {
          tecnic_id: this.tecnic.id,
          name: this.name,
          tools: this.tool.map(tool => tool.id),
          description: this.description,
          salad: this.ensalada,
          vegetable: this.verduras,
          fruit: this.frutas,
          grain: this.granos,
          cereal: this.cereal,
          protein: this.proteina
        })
        .then(response => {
          this.getCookMethods();
          this.$toasted.show(response.data.message, {
            theme: "outline",
            position: "bottom-center",
            duration: 3000
          });
          $("#editModal").modal("hide");
        });
    },
    groupBy(xs, key) {
      let group = xs.reduce(function(rv, x) {
        (rv[x[key]] = rv[x[key]] || []).push(x);
        return rv;
      }, {});
      return group;
    }
  }
};
</script>

<style lang="scss" scoped>
.tecnic {
  &:last-child {
    .separator {
      display: none;
    }
  }
}
</style>
