<template>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 body-bg">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2">Familias</h1>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addModal"
      style="margin-bottom:2em;"
      @click="resetFamily"
    >
      <span class="icon-" style="font-size:1.2em; font-weight:bold; margin-right:0.5em;">+</span>
      Agregar nueva familia
    </button>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Subfamilias</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="family in families" :key="family.id">
            <td>{{family.name}}</td>
            <td>
              <span v-for="sub in family.subfamilies" :key="sub.id" class="family">
                {{sub.name}}
                <span class="separator">-</span>
              </span>
            </td>
            <td>
              <i class="fas fa-edit" @click="showEditModal(family)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">Agregar un nueva familia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="add input-group">
              <label>Familia:</label>
              <input
                type="text"
                name="ingredient-name"
                id="ingredient-name"
                placeholder="Nombre"
                class="input__text"
                v-model="name"
              />
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="addFamily">Agregar Familia</button>
          </div>
        </div>
      </div>
    </div>

    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">Editar familia</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="add input-group">
              <label>Familia:</label>
              <input
                type="text"
                name="ingredient-name"
                id="ingredient-name"
                placeholder="Nombre"
                class="input__text"
                v-model="name"
              />
            </div>

            <div class="add input-group">
              <label>Añadir Subfamilia:</label>
              <input
                type="text"
                name="ingredient-name"
                id="ingredient-name"
                placeholder="Nombre"
                class="input__text"
                v-model="subfamily"
              />
              <button @click="addSubfamily" class="btn btn-primary mt-2">Agregar subfamilia</button>
            </div>

            <div class="add mt-5">
              Editar Subfamilias
              <div class="subfamily" v-for="subfamily in family.subfamilies" :key="subfamily.id">
                <input v-model="subfamily.name" />
                <input
                  type="submit"
                  value="Editar"
                  class="btn btn-success"
                  @click="editSubfamily(subfamily.id, subfamily.name)"
                />
                <input
                  type="submit"
                  value="Borrar"
                  class="btn btn-danger"
                  @click="deleteSubfamily(subfamily.id)"
                />
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button
              type="button"
              class="btn btn-danger"
              @click="deleteFamily(family.id)"
            >Borrar familia</button>
            <button type="button" class="btn btn-primary" @click="editFamily">Editar</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
export default {
  name: "Family",
  props: {},
  mounted() {
    this.getFamilies();
  },
  data() {
    return {
      name: "",
      families: [],
      family: {},
      subfamily: ""
    };
  },
  methods: {
    resetFamily() {
      this.name = "";
    },
    deleteFamily(id) {
      if (confirm("¿Quieres borrar esta familia?")) {
        axios.delete(`./api/family/${id}/delete`).then(response => {
          this.getFamilies();
          $("#editModal").modal("hide");
          // console.log('Se borra subfamilia')
        });
      }
    },

    deleteSubfamily(id) {
      axios.delete(`./api/subfamily/${id}/delete`).then(response => {
        this.getFamilies();
        $("#editModal").modal("hide");
        // console.log('Se borra subfamilia')
      });
    },
    editSubfamily(id, name) {
      //console.log(id, name)
      axios
        .put(`./api/subfamily/${id}/edit`, {
          name: name
        })
        .then(response => {
          $("#editModal").modal("hide");
        });
    },
    addSubfamily() {
      axios
        .post("./api/add/subfamily", {
          name: this.subfamily,
          family: this.family.id
        })
        .then(response => {
          this.family.subfamilies.push(response.data.family);
          this.$toasted.show(response.data.message, {
            theme: "outline",
            position: "bottom-center",
            duration: 3000
          });
          this.subfamily = "";
        });
    },

    showEditModal(family) {
      this.family = family;
      this.name = this.family.name;

      $("#editModal").modal();
    },
    getFamilies() {
      axios
        .get("./api/families")
        .then(response => {
          this.families = response.data.families;
          //console.log(this.families);
        })
        .catch(error => console.log(error));
    },
    checkForm() {
      var output = false;
      if (this.name != "") {
        output = true;
      }
      return output;
    },
    addFamily() {
      //Check that the information is correct
      if (this.checkForm() == true) {
        axios
          .post("./api/add/family", {
            name: this.name
          })
          .then(response => {
            this.families.push(response.data.family);

            //Show Succes Toast
            let toast = this.$toasted.show(response.data.message, {
              theme: "outline",
              position: "bottom-center",
              duration: 3000
            });
            //Reset Submit Info
            this.name = "";
          });
      } else {
        let toast = this.$toasted.show(
          "Debes ingresar todos los datos para crear un nuevo ingrediente",
          {
            theme: "bubble",
            position: "bottom-center",
            duration: 3000
          }
        );
      }
    },
    editFamily() {
      axios
        .put("./api/family/edit", {
          family_id: this.family.id,
          name: this.name
        })
        .then(response => {
          //console.log(response.data);
          this.getFamilies();
          this.$toasted.show(response.data.message, {
            theme: "outline",
            position: "bottom-center",
            duration: 3000
          });
          $("#editModal").modal("hide");
        });
    }
  }
};
</script>

<style lang="scss" scoped>
.subfamily {
  margin-bottom: 5px;
  &:last-child {
    margin: 0;
  }
}
.mt-5 {
  margin-top: 15px !important;
}
.family {
  &:last-child {
    .separator {
      display: none;
    }
  }
}
</style>