<template>
  <main role="main" class="col-md-9 ml-sm-auto col-lg-10 px-4 body-bg">
    <div
      class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom"
    >
      <h1 class="h2">Ingredientes</h1>
    </div>
    <button
      type="button"
      class="btn btn-primary"
      data-toggle="modal"
      data-target="#addModal"
      style="margin-bottom:2em;"
      @click="resetIngredient"
    >
      <span class="icon-" style="font-size:1.2em; font-weight:bold; margin-right:0.5em;">+</span>
      Agregar nuevo ingrediente
    </button>
    <ul class="feedback">
      <li v-for="category in countCategories" :key="category.id">
        <strong>{{category.name}}:</strong>
        {{category.ingredients_count}}
      </li>
    </ul>
    <div class="table-responsive">
      <table class="table table-striped table-sm">
        <thead>
          <tr>
            <th>Nombre</th>
            <th>Categoria</th>
            <th>Familia</th>
            <th>Subfamilia</th>
            <th>Procedimiento</th>
            <th>Tecnicas de Coccion</th>
            <th>Comida</th>
            <th>Acciones</th>
          </tr>
        </thead>
        <tbody>
          <tr v-for="ingredient in ingredients" :key="ingredient.id">
            <td>{{ingredient.name}}</td>

            <td>{{ingredient.category.name}}</td>

            <td>
              <span v-if="ingredient.family">{{ingredient.family.name}}</span></td>
            <td>
              <span v-if="ingredient.subfamily">{{ingredient.subfamily.name}}</span>
            </td>

            <td v-html="ingredient.serve"></td>

            <td>
              <span v-for="tecnic in ingredient.tecnics" :key="tecnic.id" class="tecnic">
                {{tecnic.name}}
                <span class="separator">-</span>
              </span>
            </td>
            <td>
              <span class="tecnic" v-if="ingredient.breakfast == 1">
                Desayuno
                <span class="separator">-</span>
              </span>
              <span class="tecnic" v-if="ingredient.lunch == 1">
                Almuerzo
                <span class="separator">-</span>
              </span>
              <span class="tecnic" v-if="ingredient.dinner == 1">
                Cena
                <span class="separator">-</span>
              </span>
            </td>
            <td>
              <i class="fas fa-edit" @click="showEditModal(ingredient)"></i>
            </td>
          </tr>
        </tbody>
      </table>
    </div>
    <!-- Modal -->
    <div
      class="modal fade"
      id="addModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">Agregar un nuevo ingrediente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="add input-group">
              <label class="m-0">Nombre:</label>
              <input
                type="text"
                name="ingredient-name"
                class="input__text"
                id="ingredient-name"
                placeholder="Nombre"
                v-model="name"
              />
              <div class="d-flex">
                <div>
                  <label>Categoria:</label>
                  <select class="custom-select" id="inputGroupSelect01" v-model="category">
                    <option selected="true" disabled="disabled">Seleccionar categoría</option>
                    <option
                      v-for="category in categories"
                      :value="category.id"
                      :key="category.id"
                    >{{category.name}}</option>
                  </select>
                </div>

                <div>
                  <label>Familia:</label>
                  <select
                    class="custom-select"
                    id="inputGroupSelect02"
                    v-model="family"
                    @change="loadFamily"
                  >
                    <option selected="true" disabled="disabled">Seleccionar familia</option>
                    <option
                      v-for="family in families"
                      :key="family.id"
                      :value="family.id"
                    >{{family.name}}</option>
                  </select>
                </div>

                <div>
                  <label>Sub Familia:</label>
                  <select class="custom-select" id="inputGroupSelect03" v-model="subfamily">
                    <option selected="true" disabled="disabled">Seleccionar Subfamilia</option>
                    <option
                      v-for="subfamily in subfamilies"
                      :key="subfamily.id"
                      :value="subfamily.id"
                    >{{subfamily.name}}</option>
                  </select>
                </div>
              </div>

              <div>
                <label class="d-block">Procedimiento del ingrediente</label>
                <vue-editor v-model="description" class="input__text--description"></vue-editor>
              </div>

              <div>
                <label>Técnicas de cocción:</label>

                <multiselect
                  v-model="cook"
                  placeholder="Seleccionar técnicas de cocción"
                  :options="getCookTypes(tecnics)"
                  :multiple="true"
                  :searchable="true"
                  track-by="id"
                  label="name"
                  :close-on-select="false"
                ></multiselect>
              </div>
              <div>
                <label class="m-0">Este ingrediente sirve para el...</label>
                <div class="d-flex">
                  <div class="input__group">
                    <input type="checkbox" id="breakfast" value="0" v-model="typeFood" />
                    <label class="m-0" for="breakfast">Desayuno</label>
                  </div>
                  <div class="input__group">
                    <input type="checkbox" id="lunch" value="1" v-model="typeFood" />
                    <label class="m-0" for="lunch">Almuerzo</label>
                  </div>
                  <div class="input__group">
                    <input type="checkbox" id="dinner" value="2" v-model="typeFood" />
                    <label class="m-0" for="dinner">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button type="button" class="btn btn-primary" @click="addIngredient">Agregar Ingrediente</button>
          </div>
        </div>
      </div>
    </div>

    <!-- Edit Modal -->
    <div
      class="modal fade"
      id="editModal"
      tabindex="-1"
      role="dialog"
      aria-labelledby="addModalTitle"
      aria-hidden="true"
    >
      <div class="modal-dialog modal-dialog-centered" role="document">
        <div class="modal-content">
          <div class="modal-header">
            <h5 class="modal-title" id="addModalTitle">Editar ingrediente</h5>
            <button type="button" class="close" data-dismiss="modal" aria-label="Close">
              <span aria-hidden="true">&times;</span>
            </button>
          </div>
          <div class="modal-body">
            <div class="add input-group">
              <label class="m-0">Nombre:</label>
              <input
                type="text"
                name="ingredient-name"
                class="input__text"
                id="ingredient-name"
                placeholder="Nombre"
                v-model="name"
              />
              <div class="d-flex">
                <div>
                  <label>Categoria:</label>
                  <select class="custom-select" id="inputGroupSelect01" v-model="category">
                    <option selected="true" disabled="disabled">Seleccionar categoría</option>
                    <option
                      v-for="category in categories"
                      :value="category.id"
                      :key="category.id"
                    >{{category.name}}</option>
                  </select>
                </div>

                <div>
                  <label>Familia:</label>
                  <select
                    class="custom-select"
                    id="inputGroupSelect02"
                    v-model="family"
                    @change="loadFamily"
                  >
                    <option selected="true" disabled="disabled">Seleccionar familia</option>
                    <option
                      v-for="family in families"
                      :key="family.id"
                      :value="family.id"
                    >{{family.name}}</option>
                  </select>
                </div>

                <div>
                  <label>Sub Familia:</label>
                  <select class="custom-select" id="inputGroupSelect03" v-model="subfamily">
                    <option selected="true" disabled="disabled">Seleccionar Subfamilia</option>
                    <option
                      v-for="subfamily in subfamilies"
                      :key="subfamily.id"
                      :value="subfamily.id"
                    >{{subfamily.name}}</option>
                  </select>
                </div>
              </div>

              <div>
                <label class="d-block">Procedimiento del ingrediente</label>
                <vue-editor v-model="description" class="input__text--description"></vue-editor>
              </div>

              <div>
                <label>Técnicas de cocción:</label>

                <multiselect
                  v-model="cook"
                  placeholder="Seleccionar técnicas de cocción"
                  :options="getCookTypes(tecnics)"
                  :multiple="true"
                  :searchable="true"
                  track-by="id"
                  label="name"
                  :close-on-select="false"
                ></multiselect>
              </div>
              <div>
                <label class="m-0">Este ingrediente sirve para el...</label>
                <div class="d-flex">
                  <div class="input__group">
                    <input type="checkbox" id="breakfast" value="0" v-model="typeFood" />
                    <label class="m-0" for="breakfast">Desayuno</label>
                  </div>
                  <div class="input__group">
                    <input type="checkbox" id="lunch" value="1" v-model="typeFood" />
                    <label class="m-0" for="lunch">Almuerzo</label>
                  </div>
                  <div class="input__group">
                    <input type="checkbox" id="dinner" value="2" v-model="typeFood" />
                    <label class="m-0" for="dinner">Cena</label>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <div class="modal-footer">
            <button type="button" class="btn btn-secondary" data-dismiss="modal">Cerrar</button>
            <button
              type="button"
              class="btn btn-danger"
              @click="removeIngredient(ingredient)"
            >Borrar</button>
            <button type="button" class="btn btn-primary" @click="editIngredient">Editar Ingrediente</button>
          </div>
        </div>
      </div>
    </div>
  </main>
</template>

<script>
import { VueEditor } from "vue2-editor";
export default {
  name: "Home",
  components: {
    VueEditor
  },
  mounted() {
    this.getIngredients();
    this.getCategories();
    this.getFamilies();
    this.getCookMethods();
  },
  data() {
    return {
      typeFood: [],
      countCategories: [],
      typeFoodOptions: [
        {
          id: 0,
          type: "breakfast",
          active: false
        },
        {
          id: 1,
          type: "lunch",
          active: false
        },
        {
          id: 2,
          type: "dinner",
          active: false
        }
      ],
      description: "",
      ingredients: [],
      plateDescription: false,
      categories: [],
      families: [],
      tecnics: [],
      name: "",
      category: "",
      family: "",
      cook: [],
      info: "",
      ingredient: {},
      subfamily: "",
      subfamilies: []
    };
  },
  methods: {
    removeIngredient(ingredient) {
      if (confirm("¿Quieres borrar este ingrediente?")) {
        axios
          .delete(`./api/ingredient/delete/${ingredient.id}`)
          .then(response => {
            this.getIngredients();
            this.$toasted.show("Ingrediente removido correctamente", {
              theme: "outline",
              position: "bottom-center",
              duration: 3000
            });

            $("#editModal").modal("hide");
          });
      }
    },
    loadFamily(e) {
      let family = "";
      if (e) {
        family = e.target.value;
      } else {
        if(this.ingredient.family !== null) family = this.ingredient.family.id;
        
      }
      axios
        .get(`./api/subfamily/${family}`)
        .then(response => {
          this.subfamilies = response.data.subfamilies;
          //console.log( response.data.subfamilies )
        })
        .catch(error => console.log(error));
    },
    resetIngredient() {
      this.name = "";
      this.description = "";
      this.subfamily = "";
      this.family = "";
      this.category = "";
      this.cook = [];
      this.typeFood = [];
      this.typeFoodOptions.map(food => {
        food.active = false;
      });
    },
    showEditModal(ingredient) {
      this.resetIngredient();


      this.ingredient = ingredient;

      this.loadFamily();

      this.name = ingredient.name;
      this.family = ingredient.family !== null ? ingredient.family.id : null;
      this.subfamily = ingredient.subfamily ? ingredient.subfamily.id : null;
      this.category = ingredient.category.id;
      this.description = ingredient.serve;
      this.cook = ingredient.tecnics.map(tecnic => {
        return { id: tecnic.id, name: tecnic.name };
      });

      if (ingredient.breakfast == 1) this.typeFood.push(0);
      if (ingredient.lunch == 1) this.typeFood.push(1);
      if (ingredient.dinner == 1) this.typeFood.push(2);

      $("#editModal").modal();
    },
    getCount() {
      axios
        .get("./api/total/categories")
        .then(response => {
          this.countCategories = response.data;

        })
        .catch(error => console.log(error));
    },
    editIngredient() {
      this.typeFood.map(type => {
        this.typeFoodOptions[type].active = true;
      });

      axios
        .put("./api/ingredient/edit", {
          ingredient_id: this.ingredient.id,
          name: this.name,
          category: this.category,
          family: this.family,
          subfamily: this.subfamily,
          tecnics: this.cook.map(tecnic => tecnic.id),
          breakfast: this.typeFoodOptions[0].active == true ? 1 : 0,
          lunch: this.typeFoodOptions[1].active == true ? 1 : 0,
          dinner: this.typeFoodOptions[2].active == true ? 1 : 0,
          serve: this.description
        })
        .then(response => {
          this.$toasted.show(response.data.message, {
            theme: "outline",
            position: "bottom-center",
            duration: 3000
          });
          this.getIngredients();

          $("#editModal").modal("hide");
        });
    },
    getCookTypes(tecnics) {
      let options = [];

      tecnics.map(tecnic => {
        let temp = {
          id: tecnic.id,
          name: tecnic.name
        };
        options.push(temp);
      });
      return options;
    },
    tecnicSelected(e) {
      if (e.target.value == "No aplica") {
        (this.cook = []), (this.plateDescription = true);
      }
    },
    getCategories() {
      axios
        .get("./api/categories")
        .then(response => {
          this.categories = response.data.categories;
        })
        .catch(error => console.log(error));
    },
    getFamilies() {
      axios
        .get("./api/families")
        .then(response => {
          this.families = response.data.families;
        })
        .catch(error => console.log(error));
    },
    getCookMethods() {
      axios
        .get("./api/tecnics")
        .then(response => {
          this.tecnics = response.data.tecnics;
        })
        .catch(error => console.log(error));
    },
    getIngredients() {
      axios
        .get("./api/ingredients")
        .then(response => {
          this.ingredients = response.data.ingredients;
          this.getCount();

        })
        .catch(error => console.log(error));
    },
    checkForm() {
      var output = false;
      if (this.name != "" && this.category != "" && this.family != "") {
        output = true;
      }
      return output;
    },
    addIngredient() {
      //Check that the information is correct
      //

      if (this.checkForm() == true) {
        this.typeFood.map((type, key) => {
          this.typeFoodOptions[type].active = true;
        });

        axios
          .post("./api/add/ingredient", {
            name: this.name,
            category: this.category,
            family: this.family,
            subfamily: this.subfamily,
            tecnics: this.cook.map(tecnic => tecnic.id),
            breakfast: this.typeFoodOptions[0].active == true ? 1 : 0,
            lunch: this.typeFoodOptions[1].active == true ? 1 : 0,
            dinner: this.typeFoodOptions[2].active == true ? 1 : 0,
            serve: this.description
          })
          .then(response => {
            // console.log(response.data);

            this.ingredients.push(response.data.ingredient);

            //Show Succes Toast
            let toast = this.$toasted.show(response.data.message, {
              theme: "outline",
              position: "bottom-center",
              duration: 3000
            });
          });
      } else {
        let toast = this.$toasted.show(
          "Debes ingresar todos los datos para crear un nuevo ingrediente",
          {
            theme: "bubble",
            position: "bottom-center",
            duration: 3000
          }
        );
      }
    }
  }
};
</script>
<style lang="scss" scoped>
.feedback {
  display: flex;
  padding: 0;
  li {
    list-style: none;
    margin-right: 10px;
  }
}

.tecnic {
  &:last-child {
    .separator {
      display: none;
    }
  }
}
.multi__select {
  height: 155px;
}
.input__text--description .ql-container {
  height: 100px;
}

.separator {
  color: #007bff;
}
textarea {
  height: 105px;
}
</style>