<template>
  <div style="height:100%;">
    <nav class="navbar navbar-dark bg-dark flex-md-nowrap p-0 shadow" style="height:50px">
      <a class="navbar-brand col-sm-3 col-md-2 mr-0" href="#">
        <!-- <img src="./static/assets/intelli.svg" /> -->
        7 Dias de Intensidad
      </a>
      <ul class="navbar-nav px-3">
        <li class="nav-item text-nowrap special" style="display:flex;">
          <img class="profile-pic" src="images/guacamayo.png" />
          <a class="nav-link" href="#">Amazon Pepper</a>
        </li>
      </ul>
    </nav>
    <div class="container-fluid">
      <div class="row">
        <nav class="col-md-2 d-none d-md-block bg-dark sidebar">
          <div class="sidebar-sticky">
            <ul class="nav flex-column">
              <br />
              <br />
              <li class="nav-item">
                <router-link exact to="/">
                  <a class="nav-link active" href="/">
                    <span class="icon- nav-icon-color">
                      <img src="images/diet.svg" />
                    </span>
                    Ingredientes
                  </a>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link exact to="/family">
                  <a class="nav-link" href="family">
                    <span class="icon- nav-icon-color">
                      <img src="images/veggies.svg" />
                    </span>
                    Familias
                  </a>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link exact to="/category">
                  <a class="nav-link" href="category">
                    <span class="icon- nav-icon-color">
                      <img src="images/category.svg" />
                    </span>
                    Categorias
                  </a>
                </router-link>
              </li>
              <li class="nav-item">
                <router-link exact to="/cook">
                  <a class="nav-link" href="cook">
                    <span class="icon- nav-icon-color">
                      <img src="images/parrilla-de-la-barbacoa.svg" />
                    </span>
                    Técnicas de cocción
                  </a>
                </router-link>
              </li>
                            <li class="nav-item">
                <router-link exact to="/tool">
                  <a class="nav-link" href="tool">
                    <span class="icon- nav-icon-color">
                      <img src="images/settings.svg" />
                    </span>
                    Herramientas
                  </a>
                </router-link>
              </li>
            </ul>
          </div>
        </nav>

        <router-view></router-view>
      </div>
    </div>
  </div>
</template>

<script>

export default {
  name: "Index",
  props: {},
  mounted() {
    //Vue.use(Toasted);
  },
  data() {
    return {};
  },
  methods: {}
};
</script>
