<template>
  <!-- Main Content -->
  <section class="content-wrapper intro">

    <div class="top-line"></div>
    <div class="home mt-40">

      <!-- <p class="leyend">¡Con tus ingredientes favoritos, prepararemos juntos las mejores recetas!</p> -->

      <div class="secondary">
        <img
          src="images/pasos-black.png"
          class="text-2 mobile"
          alt="En estos 5 pasos tendrás el menú de toda la semana. Participa y dile SÍ a la intensidad con Amazon Pepper"
        />

                  <a class="next mobile mt-20 next--red" @click="changeStage('Primer_Boton')" v-text="renderButtonText"></a>

              <img
        src="images/intro.png"
        class="text-1 block center desktop"
        alt="Con tus ingredientes favoritos prepararemos juntos las mejores recetas"
      />

          <div class="wrap">
            <img
              src="https://www.amazonpepper.com/wp-content/uploads/2020/01/Mockup-iphone-512x1024.png"
              alt
              class="phone"
            />
            <img
              src="https://www.amazonpepper.com/wp-content/uploads/2020/01/Amazon02.gif"
              alt
              class="gif"
            />
        </div>
      </div>
      <!-- <p class="leyend">
        ¡En solo
        <strong>5 pasos</strong> tendrás el menú de toda la semana! Participa y dile SÍ a la intensidad con Amazon Pepper
      </p>-->

      <a class="next mt-30" @click="changeStage('Último_Boton')" v-text="renderButtonText"></a>
    </div>

    <!-- <a class="next" @click="changeStage">Siguiente</a> -->
  </section>
</template>

<script>
export default {
  name: "Home",
  mounted() {
    console.log(this.$route.path)
    this.$store.dispatch("updateStage", 1);
    this.$store.dispatch("setBar", "¿Estás listo?");
  },
  data() {
    return {};
  },
  computed: {

    renderButtonText(){

      switch(this.$route.path){
        case '/B':
          return "Obtener mi recetario"
          break;
                  case '/C':
          return "Personalizar mis recetas"
          break;
          default:
            return "Empieza ahora";
            break;
      }

    }
  },
  methods: {
    changeStage(name) {
      //this.$router.push(`/utensilios`);

      gtag("event", "P1_Home", {
        event_category: "Empezar_Ahora",
        event_label: name

      });

      this.$router.push(`/hora-de-comer`);
      this.$store.dispatch("updateStage", 2);
      this.$store.dispatch("setDayNight", true);
    }
  }
};
</script>
