<template>
  <div class="landing__home">
    <h1 class="title">
      En menos de
      <span>5 minutos</span> tendrás
      <br />un
      <span>menú personalizado</span>
      <br />para toda
      <span>tu semana</span>
    </h1>

    <div class="items">
      <div class="item">
        <div class="item__column">
          <div class="item__number">1</div>
          <div class="item__content">
            <h2>Cuéntanos cuáles utensilios tienes en tu cocina</h2>
            <p>Nos ayudará para asignar una técnica de cocción a cada receta</p>
            <button class="item__button item__button--pulse-red" @click="changeStage('Botón_PrimerPaso')">Empezar ahora</button>
          </div>
        </div>
        <div class="item__column">
          <img src="images/step-1.png" alt="Paso 1" />
        </div>
      </div>

      <div class="item item--reverse">
        <div class="item__column">
          <div class="item__number">2</div>
          <div class="item__content">
            <h2>¿Te gusta alguna carne en especial? ¡Dinos cuál!</h2>
            <p>Recuerda que entre más proteínas elijas, más variedad tendrá tu menú personalizado</p>
            <button class="item__button item__button--pulse-yellow" @click="changeStage('Botón_SegundoPaso')">Empezar ahora</button>
          </div>
        </div>
        <div class="item__column">
          <img src="images/step-2.png" alt="Paso 2" />
        </div>
      </div>

      <div class="item">
        <div class="item__column">
          <div class="item__number">3</div>
          <div class="item__content">
            <h2>Granos, verduras y frutas. ¿Cómo te gustaría acompañar tus comidas?</h2>
            <p>Selecciona todas tus favoritas, ¡recuerda que en la variedad está el sabor!</p>
            <button class="item__button item__button--pulse-red" @click="changeStage('Botón_TercerPaso')">Empezar ahora</button>
          </div>
        </div>
        <div class="item__column">
          <img src="images/step-3.png" alt="Paso 3" />
        </div>
      </div>
    </div>

    <div class="ingredients__section mt-20">
      <div class="favorites">
        <h2>
          Ingredientes populares
        </h2>
        <div class="ingredients">
          <div class="ingredient" v-for="ingredient in ingredients" :key="ingredient.id">
            <img
              :src="'images/'+ingredient.image"
              alt
            />
            <div class="counter" v-text="ingredient.score"></div>
          </div>

        </div>

        <a class="next mt-30" @click="changeStage('Botón_Ingredientes')">Conócelos aquí</a>
      </div>
    </div>
  </div>
</template>
<script>
export default {
  name: "landing",
  data(){
      return{
          ingredients: []
      }
  },
  mounted(){
      this.loadFavoriteIngredients();
          this.$store.dispatch("setBar", "¿Estás listo?");
  },
  methods: {
      loadFavoriteIngredients(){
          axios.get(`${this.$store.getters.getServerPath}/favorite/ingredients`).then(response => {
              console.log(response)
              this.ingredients = response.data.ingredients
          })
      },
          changeStage(name) {
      //this.$router.push(`/utensilios`);

      gtag("event", "P1_Home", {
        event_category: "Empezar_Ahora",
        event_label: name

      });

      this.$router.push(`/hora-de-comer`);
      this.$store.dispatch("updateStage", 2);
      this.$store.dispatch("setDayNight", true);
    }
  }
};
</script>
<style lang="scss">
.landing__home {
  .ingredients__section {
    background: #eaeaea8c;
    padding: 20px 0;

    h2 {
      font-family: "Baron Neue Bold";
      color: #353535;
      font-size: 1.6em;
      font-size: 1.3em;
    }

    .favorites {
      width: 90%;
      margin: 0 auto;

      .ingredients {
        display: grid;
        grid-template-columns: repeat(3, minmax(100px, 1fr));
        grid-gap: 10px;
        grid-template-rows: 105px;
        grid-auto-rows: 105px;

        .ingredient {
          position: relative;

          img {
            width: 100%;
            height: 100%;
            object-fit: cover;
            border-radius: 5px;
          }

          .counter {
            background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/shopping-cart.svg);
            width: 27px;
            height: 24px;
            background-size: contain;
            position: absolute;
            bottom: -5px;
            right: -5px;
            display: flex;
            align-items: center;
            justify-content: center;
            color: #fff;
            font-size: 0.65em;
          }
        }
      }
    }
  }
  .title {
    font-family: "Baron Neue Bold";
    text-align: center;
    font-size: 1.2em;
    color: #353535;
    margin: 40px 0 25px 0;
    text-transform: lowercase;

    span {
      color: #feb201;
    }
  }

  .items {
    width: 90%;
    margin: 0 auto;
    .item {
      display: flex;
      justify-content: space-around;
      align-items: flex-start;
      margin-bottom: 25px;
      border-bottom: dashed 1px rgba(151, 150, 150, 0.664);
      padding-bottom: 25px;

      &:last-child {
        border-bottom: none;
        margin-bottom: 0;
        padding-bottom: 0;
      }

      &--reverse {
        flex-direction: row-reverse;

        .item__column {
          &:nth-child(1) {
            width: 55%;
            margin-right: 0;
            margin-left: 15px;
          }

          &:nth-child(2) {
            width: 55%;
            width: calc(45% - 15px);
          }
        }
      }

      &:nth-child(even) {
        .item__number {
          background: #feb201;
        }
        .item__button {
          background: #feb201;
        }
      }

      &__column {
        img {
          width: 100%;
          opacity: 0;

          animation: fadeInImages .5s ease-in-out .2s forwards;

          @keyframes fadeInImages {
              from{
                  opacity: 0;
              }
              to{
                  opacity: 1;
              }
          }
        }

        &:nth-child(1) {
          width: 55%;
          margin-right: 15px;
        }

        &:nth-child(2) {
          width: calc(45% - 15px);
        }

        display: flex;
        align-items: flex-start;
        justify-content: center;

        .item__number {
          background: #9b0a15;
          color: #fff;
          width: 35px;
          height: 35px;
          border-radius: 50%;
          display: flex;
          align-items: center;
          justify-content: center;
          font-size: 1.8em;
          margin-right: 10px;
        }
        .item__content {
          width: calc(100% - 40px);
          h2 {
            margin: 0;
            font-size: 1em;
            color: #353535;
          }

          p {
            margin: 8px 0 0 0;
            font-size: 0.85em;
            color: #353535;
          }
        }

        .item__button {
          background: #9b0a15;
          color: #fff;
          font-family: "Baron Neue Bold";
          border: none;
          outline: none;
          cursor: pointer;
          border-radius: 10px;
          font-size: 0.9em;
              padding: 15px 5px 10px 5px;
          margin-top: 10px;
          width: 100%;

          &--pulse-red{
              animation: pulse-red 2s infinite;
                @keyframes pulse-red {
    0% {
      box-shadow: 0 0 0 0 rgba(155, 10, 21, 0.4);
    }
    70% {

        box-shadow: 0 0 0 10px rgba(155, 10, 21, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(155, 10, 21, 0);
    }
  }
          }
        }
      }
    }
  }
}

@media all and (min-width: 768px) {
  .landing__home {
    .title {
      font-size: 2em;
    }

    .items {
      margin-top: 40px;
    }

    .items .item {
      margin-bottom: 35px;
      padding-bottom: 35px;
    }

    .items .item__column .item__content h2 {
      font-size: 1.8em;
    }

    .items .item__column .item__content p {
      font-size: 1.3em;
    }

    .items .item__column .item__button {
      font-size: 1.2em;
      padding: 20px 7px 15px;
      margin-top: 15px;
      width: 100%;
    }

    .items .item__column .item__number {
      width: 50px;
      height: 50px;
    }
  }
}

@media all and (min-width: 1024px) {
  .landing__home .items .item__column img {
    width: 100%;
    height: 235px;
    object-fit: cover;
    object-position: top;
  }
}

@media all and (min-width: 1200px) {
  .landing__home .title {
    font-size: 2em;
  }

.landing__home .ingredients__section .favorites .ingredients {
    grid-template-rows: 186px;
    grid-auto-rows: 186px;
}

.landing__home .ingredients__section .favorites .ingredients .ingredient .counter {
    width: 48px;
    height: 42px;
    font-size: 1em;
    bottom: -5px;
    right: -15px;
}

.landing__home .ingredients__section .favorites .ingredients {
    grid-gap: 25px;
}


  .landing__home .items .item__column .item__number {
    width: 50px;
    height: 50px;
    font-size: 1.8em;
    margin-right: 20px;
  }

  .landing__home .items .item__column .item__content {
    width: calc(100% - 80px);
  }

  .landing__home .items .item__column .item__content h2 {
    font-size: 1.8em;
  }

  .landing__home .items .item__column .item__content p {
    font-size: 1.6em;
  }

  .landing__home .items .item__column .item__button {
    font-size: 1.5em;
    padding: 20px 30px 15px;
    margin-top: 25px;
    width: fit-content;
  }

  .landing__home .items .item__column:nth-child(1) {
    width: 50%;
    margin-right: 15px;
  }

  .landing__home .items .item--reverse .item__column:nth-child(1) {
    width: 50%;
    margin-right: 0;
    margin-left: 15px;
  }

  .landing__home .items .item {
    margin-bottom: 50px;
    padding-bottom: 50px;
  }

  .landing__home .title {
    margin: 50px 0 65px 0;
  }

  .landing__home .items .item__column img {
    height: 300px;
    object-fit: contain;
  }

  .landing__home .items {
    width: 75%;
    margin: 0 auto;
  }
}
</style>