<template>
  <section class="content-wrapper mt-20">
    <p
      class="leyend"
    >Para crear tus recetas, selecciona el momento (almuerzo o cena) en el que te gustaría prepararlas:</p>

    <div class="grid" id="eat">
      <div class="item" @click="sendTimeToEatEvent('Almuerzo')">
        <img src="images/almuerzo.jpg" alt="Almuerzo" />

        <a class="next">En el almuerzo</a>
      </div>

      <div class="item" @click="sendTimeToEatEvent('Cena')">
        <img src="images/cena.jpg" alt="Cena" />
        <a class="next">En la cena</a>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "momento",
  props: {},
  mounted() {
    this.$store.dispatch("updateStage", 2);
    this.$store.dispatch("setBar", "Hora de comer");
    this.$store.dispatch("setDayNight", true);
  },
  methods: {
    sendTimeToEatEvent(name) {
      gtag("event", "P1_HoraDeComer", {
        event_category: "HoraDeComer",
        event_label: name
      });

      this.$router.push("/herramientas");
    }
  }
};
</script>
<style lang="scss" scoped>
.grid#eat {
  grid-auto-rows: 200px;

  .item {
    box-shadow: none;
    &::after {
      content: none;
    }
    a {
      margin-top: 5px;
    }
  }
  .item img {
    height: calc(100% - 50px);
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
  }
  .item h2 {
    font-size: 2em;

    @media all and (max-width: 500px) {
      font-size: 1.5em !important;
    }
  }

  @media all and (min-width: 768px) {
    grid-auto-rows: 230px;
  }

  @media all and (max-width: 500px) {
    grid-auto-rows: 200px;
    grid-gap: 30px;
  }
}
</style>