<template>
  <section class="content-wrapper">
    <p class="leyend">
Elige <strong>mínimo 3 proteínas</strong> para tu menú de recetas. Recuerda que en la variedad está el sabor, así que selecciona todas tus favoritas.</p>
    <div class="loader" v-show="loading"></div>

    <div class="grid grid--two">
      <div
        class="item"
        v-for="object in proteins"
        :key="object.id"
        @click="addIngredient(object.id);sendProteinEvent(object.name)"
        :class="{ selected: proteinsSelected.indexOf(object.id) >= 0 }"
      >
        <img :src="loadProteinImage(object.image)" :alt="object.name" />
        <h2 v-text="removeFirstWord(object.name)"></h2>
                        <svg version="1.1" xmlns="http://www.w3.org/2000/svg" xmlns:xlink="http://www.w3.org/1999/xlink" x="0px" y="0px"
	 viewBox="0 0 17 17" style="enable-background:new 0 0 17 17;" xml:space="preserve" class="">
<g id="large">
	<path class="st0" d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"/>
</g>
<g id="small">
	<g class="st1">
		<path class="st2" d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"/>
	</g>
</g>
</svg>
      </div>
    </div>
    <!-- <a  class="next">Siguiente</a> -->
    <div class="items-count" :data-badge="countSelectedIngredients"></div>
    <div class="status-float">
      <div class="back-feedback" @click="backStage()">Atrás</div>
      <!-- <div class="feedback">{{ countSelectedIngredients }} seleccionados</div> -->
      <img src="images/logo-header.png" alt="7 Dias de intensidad" />
      <div class="continue-feedback" @click="changeStage()">Siguiente</div>
    </div>
    <div @click="changeStage()" class="can-continue" :class="{show: proteinsSelected.length >= 3}">
      Continuar
    </div>
  </section>
</template>

<script>
import {
  getIngredients,
  removeSubjectIngredient,
  addScoreToIngredient
} from "../../helpers";
export default {
  name: "Proteinas",
  props: {},
  mounted() {
    this.loadCategory();
    this.$store.dispatch("updateStage", 3);
    this.$store.dispatch("setBar", "¿Cuáles son tus proteínas favoritas?");
  },
  data() {
    return {
      proteins: [],
      proteinsSelected: this.$store.getters.getProteins,
      loading: true
    };
  },
  computed: {
    countSelectedIngredients() {
      return this.proteinsSelected.length;
    },
    getIngredientName() {
      return;
    }
  },
  methods: {

    sendProteinEvent(name) {
      gtag("event", "P3_Proteínas", {
        event_category: "Mis_Proteínas",
        event_label: name
      });
    },


    loadCategory() {
      if (this.$store.getters.getTools.length > 0) {
        axios
          .get(`${this.$store.getters.getServerPath}/proteins`, {
            params: {
              tools: this.$store.getters.getTools.join()
            }
          })
          .then(response => {
            setTimeout(() => {
              this.proteins = response.data.proteins;
              this.loading = false;
            }, 250);
          })
          .catch(err => console.log(err));
      } else {
        this.$router.push(`/hora-de-comer`);
      }
    },
    addIngredient(id) {
      let indexID = this.proteinsSelected.indexOf(id);

      //Si el array no tiene el ID que se quiere incluir, lo añade, si lo tiene, lo remueve usando el indexID
      !this.proteinsSelected.includes(id)
        ? [
            this.proteinsSelected.push(id),
            addScoreToIngredient(this.$store, id)
          ]
        : this.proteinsSelected.splice(indexID, 1);

      this.$store.dispatch("setProteins", this.proteinsSelected);
    },
    backStage() {
      //this.$store.dispatch("updateStage", 3);
      this.$router.push(`/herramientas`);
    },

    changeStage() {
      if (this.proteinsSelected.length >= 3) {
        this.$store.dispatch("updateStage", 4);

        gtag("event", "P3_Proteínas", {
          event_category: "Siguiente_Sección_Granos"
        });


        this.$router.push(`/granos`);
      } else {
        let toast = this.$toasted.show("Selecciona al menos 3 proteínas", {
          theme: "outline",
          position: "bottom-center",
          duration: 1800
        });
      }
    },
    removeFirstWord(str) {
      return removeSubjectIngredient(str);
    },
    loadProteinImage(src) {
      if (src !== null) return "images/" + src;
      return "images/undefined.jpg";
    }
  }
};
</script>
