<template>
  <section class="content-wrapper">
    <div class="recipe">
      <div class="ingredientes box">
        <h1>Receta #1 de Pollo</h1>
        <div class="ingredientes-wrapper">
          <ul class="ingredients__quantity">
            <li>Pollo</li>
            <li>Manzana</li>
            <li>Frijol</li>
            <li>Tomate</li>
            <li>Chilli</li>
          </ul>
          <div class="bottle">
            <img src="images/products/red-amazon.png" alt />
          </div>
        </div>
      </div>
      <div class="get_ready box">
        <h2>Procedimientos</h2>
        <ul>
          <div>
            <div>
              <strong>Pollo</strong>
              <br />
              <span>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Quae enim labore atque nulla nobis commodi reiciendis quibusdam dolore possimus illum obcaecati, veritatis, ipsum illo? Nesciunt voluptates aspernatur tenetur deserunt quod!</span>
            </div>
          </div>
        </ul>
      </div>
      <div class="preparation box">
        <h2>Alistamiento</h2>

        <p>Hola</p>

        <div>
          <p>Hola 2></p>
        </div>
      </div>
    </div>
  </section>
</template>

<script>
export default {
  name: "Form",
  props: {},
  mounted() {
    this.$store.dispatch("updateStage", 9);
  },
  data() {
    return {};
  },
  computed: {},
  methods: {
    loadCategory() {},
    setSpiceLevel(value) {
      //this.$store.dispatch("setProteins", this.proteinsSelected);
    },
    changeStage() {
      this.$store.dispatch("updateStage", 8);
      this.$router.push(`/form`);
    }
  }
};
</script>
