<template>
  <section class="content-wrapper tight mt-10">
    <div class="hot-level">
      <div class="bottle-container">
        <!-- <p class="leyend">Selecciona uno de los 3 niveles de picante</p> -->

        <p class="instruction__select">Selecciona uno de los 3 niveles de picante:</p>

        <div class="choose-spice">
          <div class="column__spice" @click="setSpiceLevel(1)">
          <img :class="{active: spice == 1}" src="images/aji-bajo.png" />
          <p class="low">Bajo</p>
          </div>
          <div class="column__spice" @click="setSpiceLevel(2)">
          <img :class="{active: spice == 2}" src="images/aji-medio.png" />
          <p class="medium">Medio</p>
          </div>
          <div class="column__spice" @click="setSpiceLevel(3)">
          <img :class="{active: spice == 3}" src="images/aji-alto.png" />
          <p class="hot">Alto</p>
          </div>
        </div>

        <div class="inner-box mt-30">
          <img v-show="spice == 3" src="images/aji-alto.png" class="mt-20" />
          <img v-show="spice == 2" src="images/aji-medio.png" class="mt-20" />
          <img v-show="spice == 1" src="images/aji-bajo.png" class="mt-20" />
          <div class="inner-text">
            <p class="level-title">
              Nivel:
              <span v-text="hotnnes" :class="levelColorC">Bajo</span>
            </p>
            <p v-show="spice == 1">
              <strong>Te gusta ponerle sabor a la vida</strong>, tienes el toque justo para disfrutar un menú intensamente delicioso.
            </p>
            <p v-show="spice == 2">
              <strong>¡Eres un aventurero del sabor y nos encanta!</strong> Tu menú de recetas seguro tendrá deliciosas sorpresas
            </p>
            <p v-show="spice == 3">
              <strong>Dile SÍ a un menú intensamente delicioso</strong>, con el toque para hacer de tus comidas una experiencia única.
            </p>
          </div>
        </div>
      </div>
    </div>
    <a @click="changeStage()" class="next spice mt-20">Siguiente</a>
  </section>
</template>

<script>
export default {
  name: "Picante",
  props: {},
  mounted() {
    if (this.$store.getters.getTools.length <= 0) {
      this.$router.push(`/hora-de-comer`);
    } else {
      this.$store.dispatch("updateStage", 5);
      this.$store.dispatch("setBar", "¿Cuál es tu nivel de picante favorito?");
    }
  },
  data() {
    return {
      spice: 1
    };
  },
  computed: {
    hotnnes() {
      if (this.spice == 1) {
        return "Bajo";
      }
      if (this.spice == 2) {
        return "Medio";
      }
      if (this.spice == 3) {
        return "Alto";
      }
    },
    levelColorC() {
      if (this.spice == 1) {
        return "low";
      }
      if (this.spice == 2) {
        return "med";
      }
      if (this.spice == 3) {
        return "hot";
      }
    }
  },
  methods: {
    loadCategory() {},
    changeStage() {
      this.$store.dispatch("updateStage", 8);
      this.$router.push(`/formulario`);

      gtag("event", "P7_Picante", {
        event_category: "Siguiente_Sección_DatosUsuario"
      });
    },

    setSpiceLevel(level) {
      this.spice = level;

      gtag("event", "P7_Picante", {
        event_category: `Nivel_${this.hotnnes}_Picante`
      });

      //       gtag("event", "P7_Picante", {
      //   event_category: `Nivel_Bajo_Picante`
      //   event_category: `Nivel_Medio_Picante`
      //   event_category: `Nivel_Alto_Picante`
      // });

      this.$store.dispatch("setSpiceLevel", level);
    },
    checkActive(level) {
      if (level == this.spice) {
        return true;
      } else {
        return false;
      }
    }
  }
};
</script>
