<template>
  <div class="global-div" :class="getNamedRoute">
    <nav :class="{ solo: checkNavBar }">
      <a href="https://www.amazonpepper.com/" target="_blank">
        <img src="images/amazon-logo.png" alt="Amazon Logo" />
      </a>
    </nav>
    <div class="scroll-indicator" :class="[{fixed: scrolling},{no_show:scrollShow}]">
      <div class="dots"></div>
    </div>
    <div class="main-wrapper">
      <!-- Header -->
      <section
        class="header-box large"
        :class="[ {scrollFixed: scrolling}, checkHeader ? 'day' : 'night']"
      >
        <div class="header__column">
          <img
            src="images/pasos.png"
            class="instructions"
            alt="En estos 5 pasos tendrás el menú de toda la semana. Participa y dile SÍ a la intensidad con Amazon Pepper"
          />
        </div>
        <img
          class="main-logo"
          src="images/logo-header.png"
          alt="7 Dias de intensidad logo"
        />
        <!-- <p v-text="getHeaderText">prepara tu paladar para vivir esta intensidad...</p> -->
        <div class="step-bar">
          <p v-html="getHeaderBar">¿Qué vas a preparar?</p>
        </div>
        <div id="start-app"></div>
      </section>
      <div class="breadcrumbs" :class="[{noshow: isRecipe}, {fixed: scrolling}]">
        <ul>
          <li
            :class="{ active: getActiveRoute == '/herramientas' | getActiveRoute == '/hora-de-comer' , selected: getStage>2 }"
            @click="goToStep(1)"
          >
            <div class="btn"></div>Inicio
          </li>
          <li
            :class="{ active: getActiveRoute == '/proteinas' , selected: getStage>3}"
            @click="goToStep(3)"
          >
            <div class="btn"></div>Proteína
          </li>
          <li
            :class="{ active: validateIfAcompanamiento , selected: getStage>4}"
            @click="goToStep(4)"
          >
            <div class="btn"></div>Acompañamiento
          </li>
          <li
            :class="{ active: getActiveRoute == '/picante' , selected: getStage>5}"
            @click="goToStep(5)"
          >
            <div class="btn"></div>Picante
          </li>
          <li :class="{ active: validateIfLastStep , selected: getStage>6}">
            <div class="btn"></div>Recetas
          </li>
        </ul>
        <!-- <div class="line"></div> -->
      </div>
      <router-view id="wrap-view" :class="{ scroll : scrolling == true}"></router-view>
    </div>
    <footer>
      <div class="copy">
        amazonpepper.com ® 2020 | world headquarters
        <br />
        <a
          class="tyc"
          target="_blank"
          href="https://www.amazonpepper.com/wp-content/themes/amazon_theme/tyc/Aviso de Privacidad febrero 5-2019.pdf"
        >Políticas de Privacidad</a> |
        <a
          class="tyc"
          target="_blank"
          href="https://www.amazonpepper.com/wp-content/themes/amazon_theme/tyc/Terminos y condiciones (05022019).pdf"
        >Términos y Condiciones</a> |
        <a
          class="tyc"
          target="_blank"
          href="https://www.amazonpepper.com/politicas-de-proteccion-de-datos/index.html"
        >Políticas de Manejo de Datos Personales</a>
      </div>
    </footer>
    <!-- <div class="cookies" v-if="!cookies">
      <p>
        Utilizamos "cookies" propias y de terceros para mejorar tu experiencia en nuestro sitio web. Si continúas navegando consideramos que aceptas su uso. Puede conocer cómo deshabilitarlas u obtener más información revisa
        <a
          href="https://www.amazonpepper.com/wp-content/themes/amazon_theme/tyc/POL%C3%8DTICA%20DE%20COOKIES%20COLOMBINA%20S.A.pdf"
          target="_blank"
        >aquí</a>.
      </p>
      <button @click="AcceptCookies">Entendido</button>
    </div> -->
  </div>
</template>

<script>
export default {
  name: "Index",
  props: {},
  created() {
    window.addEventListener("scroll", e => {
      let top = window.scrollY;

      if (top > 150) {
        if (
          this.getActiveRoute == "/" ||
          this.getActiveRoute == "/CRO" ||
          this.getActiveRoute == "/picante" ||
          this.getActiveRoute == "/formulario" ||
          this.$route.name == "recipe" ||
          this.$route.name == "recetasSet" ||
          this.$route.name == "recetas" ||
          this.getActiveRoute == "/hora-de-comer"
        ) {
          this.scrolling = false;
        } else {
          this.scrolling = true;
        }
      } else {
        this.scrolling = false;
      }
    });
  },
  data() {
    return {
      scrolling: false,
      cookies:
        localStorage.getItem("Amazon7DiasCookies") != null
          ? localStorage.getItem("Amazon7DiasCookies")
          : false
    };
  },
  computed: {
    renderButtonText() {
      switch (this.$route.path) {
        case "/B":
          return "Obtener mi recetario";
          break;
        case "/C":
          return "Personalizar mis recetas";
          break;
        default:
          return "Empieza ahora";
          break;
      }
    },
    getNamedRoute() {
      return this.$route.name
        ? "section_" + this.$route.name
        : "section_" + "none";
    },
    getActiveRoute() {
      return this.$route.path;
    },
    validateIfAcompanamiento() {
      return this.getActiveRoute == "/granos" ||
        this.getActiveRoute == "/vegetales" ||
        this.getActiveRoute == "/frutas"
        ? true
        : false;
    },
    validateIfLastStep() {
      return this.getActiveRoute == "/recetas" ||
        this.getActiveRoute == "/formulario"
        ? true
        : false;
    },
    checkNavBar() {
      //console.log(this.$store.getters.getStage);
      if (this.$store.getters.getStage != 1) {
        return false;
      } else {
        return true;
      }
    },
    checkHeader() {
      //console.log(this.$store.getters.getDayNight);
      return this.$store.getters.getDayNight;
    },
    getHeaderText() {},
    getStage() {
      return this.$store.getters.getStage;
    },
    isRecipe() {
      if (this.$store.getters.getStage > 6) {
        return true;
      } else if (this.$router.currentRoute.name == "recipe") {
        return true;
      } else if (
        this.$router.currentRoute.path == "/" ||
        this.$router.currentRoute.path == "/CRO" ||
        this.$router.currentRoute.path == "/hora-de-comer"
      ) {
        return true;
      } else {
        return false;
      }
    },
    getHeaderText() {
      return this.$store.getters.getHeader;
    },
    getHeaderBar() {
      return this.$store.getters.getBar;
    },
    scrollShow() {
      if (
        this.getActiveRoute == "/hora-de-comer" ||
        this.$store.getters.getStage == 1 ||
        this.$store.getters.getStage == 5 ||
        this.$store.getters.getStage == 6 ||
        this.$store.getters.getStage >= 6
      ) {
        return true;
      } else {
        return false;
      }
    }
  },
  methods: {
    AcceptCookies() {
      localStorage.setItem("Amazon7DiasCookies", true);
      this.cookies = true;
    },
    goToHome() {
      this.$router.push(`/`);
    },
    showAlertToCompleteIngredients(str) {
      this.$toasted.show(str, {
        theme: "outline",
        position: "bottom-center",
        duration: 2200
      });
    },
    changeStage(name) {
      gtag("event", "P1_Home", {
        event_category: "Empezar_Ahora",
        event_label: name
      });

      this.$router.push(`/hora-de-comer`);
      this.$store.dispatch("updateStage", 2);
      this.$store.dispatch("setDayNight", true);
    },

    checkIfIsEmpty() {
      if (this.getActiveRoute != "/") {
        this.$router.push(`/`);
      }
    },
    goToStep(step) {

      //Si ya tengo los elementos de la página actual,
      //puedo ir a la siguiente.

      switch (step) {
        case 1:
          if (this.getActiveRoute != "/herramientas")
            this.$router.push(`/herramientas`);
          break;

        case 3:
          //si ya tengo las herramientas, puedo pasar.
          if (this.getActiveRoute != "/proteinas") {
            if (this.$store.getters.getTools.length >= 3) {
              //Completo las herramientas, puede seguir con proteinas
              gtag("event", "P2_Herramientas", {
                event_category: "Siguiente_Sección_Proteínas"
              });

              this.$router.push(`/proteinas`);
            } else {
              this.showAlertToCompleteIngredients(
                "Selecciona al menos 3 utensilios"
              );
            }
          }

          break;

        case 4:
          if (this.getActiveRoute != "/granos") {
            if (this.$store.getters.getProteins.length >= 3) {
              gtag("event", "P3_Proteínas", {
                event_category: "Siguiente_Sección_Granos"
              });

              this.$router.push(`/granos`);
            } else {
              this.showAlertToCompleteIngredients(
                "Selecciona al menos 3 proteínas para continuar"
              );
            }
          }

          break;

        case 5:
          if (this.getActiveRoute != "/picante") {
            if (this.getActiveRoute == "/granos") {
              if (this.$store.getters.getGrains.length >= 3) {
                gtag("event", "P4_Granos", {
                  event_category: "Siguiente_Sección_Vegetales"
                });

                this.$router.push(`/vegetales`);
              } else {
                this.showAlertToCompleteIngredients(
                  "Selecciona al menos 3 granos para continuar"
                );
              }
            }

            if (this.getActiveRoute == "/vegetales") {
              if (
                this.$store.getters.getGrains.length >= 3 &&
                this.$store.getters.getVeggies.length >= 3
              ) {
                gtag("event", "P5_Vegetales", {
                  event_category: "Siguiente_Sección_Frutas"
                });

                this.$router.push(`/frutas`);
              } else {
                this.showAlertToCompleteIngredients(
                  "Selecciona al menos 3 vegetales para continuar"
                );
              }
            }

            if (this.getActiveRoute == "/frutas") {
              if (
                this.$store.getters.getGrains.length >= 3 &&
                this.$store.getters.getVeggies.length >= 3 &&
                this.$store.getters.getFruits.length >= 3
              ) {
                gtag("event", "P6_Frutas", {
                  event_category: "Siguiente_Sección_Picante"
                });

                this.$router.push(`/picante`);
              } else {
                this.showAlertToCompleteIngredients(
                  "Selecciona al menos 3 frutas para continuar"
                );
              }
            }
          }

          //

          break;
      }
    }
  }
};
</script>

