<template>
  <section class="content-wrapper">
    <p class="leyend">
      Selecciona al menos 3
      <strong>utensilios</strong> que puedas utilizar
      <br />en tu cocina para preparar nuestras recetas
    </p>
    <div class="grid grid--two" id="reverse">
      <div
        class="item"
        @click="addIngredient(1);sendToolEvent('Sartén');"
        :class="{ selected: toolsSelected.indexOf(1) >= 0 }"
      >
        <img :src="loadImage('tools/pan.png')" alt="Wok" />

        <h2>Sartén</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <div
        class="item"
        @click="addIngredient(4);sendToolEvent('Olla');"
        :class="{ selected: toolsSelected.indexOf(4) >= 0 }"
      >
        <img :src="loadImage('tools/tall-pot.png')" alt="Olla alta" />

        <h2>Olla</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <div
        class="item"
        @click="addIngredient(2);sendToolEvent('Plancha');"
        :class="{ selected: toolsSelected.indexOf(2) >= 0 }"
      >
        <img :src="loadImage('tools/flat-pan.png')" alt="Plancha" />

        <h2>Plancha</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <div
        class="item"
        @click="addIngredient(20);sendToolEvent('OllaPresión');"
        :class="{ selected: toolsSelected.indexOf(20) >= 0 }"
      >
        <img :src="loadImage('tools/steam-pot.png')" alt="Olla Presión" />

        <h2>Olla a presión</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <div
        class="item"
        @click="addIngredient(16);sendToolEvent('Licuadora');"
        :class="{ selected: toolsSelected.indexOf(16) >= 0 }"
      >
        <img :src="loadImage('tools/licuadora.jpg')" alt="Licuadora" />

        <h2>Licuadora</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <div
        class="item"
        @click="addIngredient(15);sendToolEvent('Horno');"
        :class="{ selected: toolsSelected.indexOf(15) >= 0 }"
      >
        <img :src="loadImage('tools/oven.png')" alt="Horno" />

        <h2>Horno</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <div
        class="item"
        @click="addIngredient(12);sendToolEvent('Wok');"
        :class="{ selected: toolsSelected.indexOf(12) >= 0 }"
      >
        <img :src="loadImage('tools/wok.png')" alt="Wok" />

        <h2>Wok</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <div
        class="item"
        @click="addIngredient(11);sendToolEvent('Vaporera');"
        :class="{ selected: toolsSelected.indexOf(11) >= 0 }"
      >
        <img :src="loadImage('tools/steamer.png')" alt="Vaporera" />

        <h2>Vaporera</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <!-- <div
        class="item"
        @click="addIngredient(7)"
        :class="{ selected: toolsSelected.indexOf(1) >= 0 }"
      >
        <img :src="loadImage('tools/tall-pan.png')" alt="Sartén Alta" />
        
        <h2>Sartén Alta</h2>
      </div>-->

      <div
        class="item"
        @click="addIngredient(17);sendToolEvent('Ramekin');"
        :class="{ selected: toolsSelected.indexOf(17) >= 0 }"
      >
        <img :src="loadImage('tools/ramekin.jpg')" alt="Ramekin" />
        <h2>Cazuela</h2>
        <svg
          version="1.1"
          xmlns="http://www.w3.org/2000/svg"
          xmlns:xlink="http://www.w3.org/1999/xlink"
          x="0px"
          y="0px"
          viewBox="0 0 17 17"
          style="enable-background:new 0 0 17 17;"
          xml:space="preserve"
          class
        >
          <g id="large">
            <path
              class="st0"
              d="M8.5,0C3.8,0,0,3.8,0,8.5S3.8,17,8.5,17S17,13.2,17,8.5C17,3.8,13.2,0,8.5,0z M10.2,13l-1.4,1.2
		c-0.1,0.1-0.3,0.1-0.5,0L6.8,13c-2.5-2.1-4.2-3.6-4.2-5.6C2.5,5.6,3.9,4.1,5.6,4c0,0,0.1,0,0.1,0C6.4,4,7,4.2,7.5,4.6
		c0.4,0.3,0.8,0.8,1,1.2c0.2-0.5,0.6-0.9,1-1.2C10,4.2,10.6,4,11.2,4c1.8,0,3.1,1.5,3.1,3.2c0,0,0,0.1,0,0.1
		C14.4,9.4,12.7,10.9,10.2,13z"
            />
          </g>
          <g id="small">
            <g class="st1">
              <path
                class="st2"
                d="M11.2,4C10.6,4,10,4.2,9.5,4.6c-0.4,0.3-0.8,0.8-1,1.2c-0.2-0.5-0.6-0.9-1-1.2C7,4.2,6.4,4,5.8,4
			C4,4,2.6,5.5,2.6,7.2c0,0,0,0.1,0,0.1c0,2.1,1.7,3.5,4.2,5.7l1.4,1.2c0.1,0.1,0.3,0.1,0.5,0l1.4-1.2c2.5-2.1,4.2-3.6,4.2-5.7
			c0.1-1.7-1.2-3.2-3-3.3C11.3,4,11.3,4,11.2,4z"
              />
            </g>
          </g>
        </svg>
      </div>

      <!-- To here -->
    </div>
    <div class="items-count" :data-badge="countSelectedIngredients"></div>
    <div class="status-float">
      <!-- <div class="feedback">
      {{ countSelectedIngredients }} seleccionados
      </div>-->
      <div class="back-feedback" @click="backStage">Atrás</div>
      <img src="images/logo-header.png" alt="7 Dias de intensidad" />
      <div class="continue-feedback" @click="changeStage">Siguiente</div>
    </div>
    <div
      @click="changeStage"
      class="can-continue"
      :class="{show: toolsSelected.length >= 3}"
    >Continuar</div>
  </section>
</template>

<script>
export default {
  name: "utensilios",
  props: {},
  mounted() {
    if (!this.$store.getters.getDayNight) {
      this.$router.push(`/hora-de-comer`);
    }

    this.$store.dispatch("updateStage", 2);
    this.$store.dispatch("setHeader", "Nos adaptamos a tu cocina");
    this.$store.dispatch("setBar", "¿Qué utensilios y herramientas usarás?");
  },
  data() {
    return {
      toolsSelected: this.$store.getters.getTools
    };
  },
  computed: {
    countSelectedIngredients() {
      return this.toolsSelected.length;
    }
  },
  methods: {
    backStage() {
      this.$router.push(`/hora-de-comer`);
    },

    sendToolEvent(name) {
      gtag("event", "P2_Herramientas", {
        event_category: "Mis_Herramientas",
        event_label: name
      });
    },
    addIngredient(id) {
      let indexID = this.toolsSelected.indexOf(id);
      //console.log(ids)

      //Si el array no tiene el ID que se quiere incluir, lo añade, si lo tiene, lo remueve usando el indexID
      !this.toolsSelected.includes(id)
        ? this.toolsSelected.push(id)
        : this.toolsSelected.splice(indexID, 1);

      this.$store.dispatch("setTools", this.toolsSelected);
    },
    loadImage(src) {
      if (src !== null) return "images/" + src;
      return "images/undefined.jpg";
    },
    changeStage() {
      if (this.toolsSelected.length >= 3) {
        this.$store.dispatch("updateStage", 6);

        gtag("event", "P2_Herramientas", {
          event_category: "Siguiente_Sección_Proteínas"
        });

        this.$router.push(`/proteinas`);
      } else {
        let toast = this.$toasted.show("Selecciona al menos 3 utensilios", {
          theme: "outline",
          position: "bottom-center",
          duration: 1800
        });
      }
    }
  }
};
</script>
<style lang="scss">
.st0 {
  opacity: 0.7;
  fill: #ffffff;
  enable-background: new;
}
.st1 {
  opacity: 0.25;
}
.st2 {
  fill: #ffffff;
}
</style>
