<template>
  <section class="content-wrapper mt-10">
    <form class="user-form mt-10" v-if="!showMyRecipes" v-on:submit.prevent="changeStage" autocomplete="off">
          <p class="leyend tight">
Para tu comodidad, enviaremos tu <strong>recetario personalizado</strong> a tu correo electrónico</p>
      <div class="text-input mt-30">
        <transition name="fade">
          <label for="name">¿Cómo te llamas?</label>
        </transition>
        <input ref="name" type="text" id="name" placeholder="Nombre completo" v-model="user_data.name" autocomplete="off"/>
        <span></span>
      </div>
      <div class="text-input">
        <transition name="fade">
          <label for="mail">¿Cuál es tu correo electrónico?</label>
        </transition>
        <input id="mail" type="email" placeholder="Correo electrónico" v-model="user_data.email" autocomplete="off"/>
        <span></span>
      </div>
      <input type="submit" value="Obtener mis recetas" class="next" />
    </form>
    <div class="loading mt" v-else>
      <div class="lds-ellipsis">
        <div></div>
        <div></div>
        <div></div>
        <div></div>
      </div>
      <p>Generando tus recetas...</p>
    </div>
  </section>
</template>

<script>
import { createMyRecipes } from "../../helpers";
import { setTimeout } from "timers";
export default {
  name: "Form",
  props: {},
  mounted() {

    

        if (this.$store.getters.getTools.length <= 0) {
      this.$router.push(`/hora-de-comer`);
    }else{
    this.$refs.name.focus()
    this.$store.dispatch("updateStage", 6);
    this.$store.dispatch("setBar", "¡Es hora de descubrir tu menú intensamente delicioso!");
    }
  
  },
  data() {
    return {
      user_data: {
        name: "",
        email: "",
        last_name: null
      },
      showMyRecipes: false
    };
  },
  computed: {},
  methods: {
    generateRecipes() {
      if (this.user_data.name == "") {
        let toast = this.$toasted.show(
          "Debes ingresar tu nombre para continuar",
          {
            theme: "outline",
            position: "bottom-center",
            duration: 1800
          }
        );
      } else if (this.user_data.last_name == "") {
        let toast = this.$toasted.show(
          "Debes ingresar tu apellido para continuar",
          {
            theme: "outline",
            position: "bottom-center",
            duration: 1800
          }
        );
      } else if (this.user_data.email == "") {
        let toast = this.$toasted.show(
          "Debes ingresar tu correo electrónico para continuar",
          {
            theme: "outline",
            position: "bottom-center",
            duration: 1800
          }
        );
      } else if (this.validEmail(this.user_data.email) == false) {
        let toast = this.$toasted.show(
          "Debes ingresar un correo valido para recibir tu nuevas recetas",
          {
            theme: "outline",
            position: "bottom-center",
            duration: 1800
          }
        );
      } else {
        this.$store.dispatch("setUserData", this.user_data);

        this.showMyRecipes = true;

        setTimeout(() => {
          createMyRecipes(this.$store).then(response => {
            this.$store.dispatch("setMyRecipes", response);

            gtag("event", "P8_Formulario", {
              event_category: "Registrado"
            });

            //this.wipeData();
            this.$router.push(`/recetas`);
            //console.log(response);
          });
        }, 200);
      }
    },
    changeStage() {
      this.$store.dispatch("updateStage", 9);
      this.generateRecipes();
    },
    validEmail(email) {
      var re = /^(([^<>()\[\]\\.,;:\s@"]+(\.[^<>()\[\]\\.,;:\s@"]+)*)|(".+"))@((\[[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\.[0-9]{1,3}\])|(([a-zA-Z\-0-9]+\.)+[a-zA-Z]{2,}))$/;
      return re.test(email);
    },
    wipeData() {
      this.$store.dispatch("setTools", []);
      this.$store.dispatch("setProteins", []);
      this.$store.dispatch("setGrains", []);
      this.$store.dispatch("setFruits", []);
      this.$store.dispatch("setVeggies", []);
    }
  }
};
</script>
<style scoped>
.loading {
  display: flex;
  align-items: center;
  flex-direction: column;
  /*margin-top: 50%;*/
  flex: 1 0 100%;
  justify-content: center;
}
.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #b30a0a;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}
</style>