body{
  background: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/pattern.png);
  background-size: 36%;
}

/*Header*/
.navbar,
.sidebar {
  background: #1c2e35 !important;
}

.sidebar {
  min-height: 95vh;
  padding: 0;
}

/* Side bar items */
.nav-item {
  justify-content: flex-start;
  display: flex;
  transition: all 0.5s;

  a {
    width: 100%;
    text-decoration: none;
    &.router-link-active {
      background: #28495d;
    }
  }
}

.body-bg {
  background: #f0f0f7;
}

.fa-edit {
  cursor: pointer;
}

.input__text {
  width: 100%;
  height: calc(1.5em + 0.75rem + 2px);
  padding: 0.375rem 1.75rem 0.375rem 0.75rem;
  font-size: 1rem;
  font-weight: 400;
  line-height: 1.5;
  color: #495057;
  background-color: #fff;
  border: 1px solid #ced4da;
  border-radius: 0.25rem;
}
.d-flex > div {
  margin: 5px;
}

.nav-item:hover {
  background: #28495d;
}

.nav-item .nav-link {
  color: #fff;
  display: flex;
  align-items: center;
}

.nav-icon-color {
  color: #a5a4bf;
}

.nav-icon-color img {
  height: 2em;
  width: auto;
  filter: invert(0.9);
  margin-right: 1em;
}

.special {
  justify-content: center;
}

.special:hover {
  background: #1c2e35;
}

.m-0 {
  margin: 0 !important;
}

.card {
  background: #fff;
  padding: 1em;
  box-shadow: rgba(0, 0, 0, 0.2) 0px 4px 10px;
  margin: 1em auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 250px;
  min-width: 100px;
}

.card-holder {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

th,
td {
  padding: 10px 20px !important;
}

h4 {
  font-size: 1em;
}

.account-img {
  max-width: 40px;
  height: 40px;
}
/*
@font-face {
    font-family: 'icomoon';
    src: url('fonts/icomoon.eot?ck7dp1');
    src: url('fonts/icomoon.eot?ck7dp1#iefix') format('embedded-opentype'),
        url('fonts/icomoon.ttf?ck7dp1') format('truetype'),
        url('fonts/icomoon.woff?ck7dp1') format('woff'),
        url('fonts/icomoon.svg?ck7dp1#icomoon') format('svg');
    font-weight: normal;
    font-style: normal;
}
*/

/*Profile image pic*/
.profile-pic {
  max-height: 35px;
  border-radius: 25px;
  margin-right: 0.8em;
}

.container-fluid {
  height: 100%;
}

.add {
  display: flex;
  flex-direction: column;
}

.add label {
  color: rgb(50, 50, 50);
  margin-top: 2em;
  margin-bottom: 0.2em;
  font-size: 0.8em;
}

.modal-dialog {
  max-width: 645px !important;
}

@import "./front/main.scss";
