/*Antonio Font*/
@font-face {
  font-family: "Antonio";
  src: url(../fonts/Antonio-Regular.ttf) format("truetype");
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: "Antonio";
  src: url(../fonts/Antonio-Bold.ttf) format("truetype");
  font-weight: bold;
  font-style: normal;
}
@font-face {
  font-family: "Antonio";
  src: url(../fonts/Antonio-Light.ttf) format("truetype");
  font-weight: lighter;
  font-style: normal;
}

@font-face {
  font-family: 'Baron Neue Black';
  font-style: normal;
  font-weight: normal;
  src: url(../fonts/BaronNeueBlack.woff) format("woff"),
  url(../fonts/BaronNeueBlack.ttf) format('truetype');
  
  }

  @font-face {
    font-family: 'Baron Neue Bold';
    font-style: normal;
    font-weight: normal;
    src: url(../fonts/BaronNeueBold.woff) format('woff'),
    url(../fonts/BaronNeueBold.ttf) format('truetype');
    
    }

    @font-face {
      font-family: 'Baron Neue';
      font-style: normal;
      font-weight: normal;
      src: url(../fonts/BaronNeue.woff) format('woff'),
      url(../fonts/BaronNeue.ttf) format('truetype');
      
      }
