<template>
  <section class="content-wrapper mt-10">
    <p class="leyend leyend--recipes">
      Hola {{userName}}este es tu
      <strong>menú personalizado</strong> para que cocinemos juntos momentos intensamente deliciosos
    </p>

    <div class="recipe-list" v-if="recipes.length > 0">
      <thumb-recipe
        v-for="(recipe, key) in recipes.slice(0,7)"
        :recipe="recipe"
        :dayRecipe="key"
        :key="key"
        @clicked="changeRecipe"
        :chanChange="canChangeRecipes"
      />
    </div>

    <!-- <h3 class="share">
      Invita a un amigo o familiar a vivir
      <strong>7 días de intensidad</strong>
    </h3>-->
  </section>
</template>
<script>
import ThumbRecipe from "./Recipe/Index.vue";
export default {
  name: "Recipes",
  components: {
    "thumb-recipe": ThumbRecipe
  },
  data() {
    return {
      recipes: this.$store.getters.getMyRecipes,
      loaded: false,
      user: this.$store.getters.getUserData,
      changeLimit: [
        {
          id: 7,
          changed: false
        },
        {
          id: 8,
          changed: false
        },
        {
          id: 9,
          changed: false
        }
      ]
    };
  },
  mounted() {
    this.$store.dispatch("updateStage", 7);
    this.$store.dispatch("setBar", "¡Es hora de vivir 7 días de intensidad!");

    if (this.$store.getters.getTools.length <= 0) {
      this.$router.push(`/`);
    }
    //this.loadRecipe();
    //this.generateRecipes();
  },
  computed: {
    userName() {
      return `${this.user.name}, `;
    },
    myRecipes() {
      return this.$store.getters.getMyRecipes;
    },
    generateRecipeName() {
      if (!this.isEmpty(this.recipe))
        return `${this.recipe[0].name} con ${this.recipe[3].name}`;
    },
    canChangeRecipes() {
      let canChange = this.changeLimit.filter(obj => obj.changed == false);
      if (canChange.length > 0) return true;
      return false;
    }
  },
  methods: {
    changeRecipe(recipeId) {
      
      let aleatory = this.changeLimit.filter(obj => obj.changed == false);
      aleatory = aleatory[Math.floor(Math.random() * aleatory.length)];
      aleatory.changed = true;

      Vue.set(this.recipes, recipeId, this.recipes[aleatory.id]);
    },
    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    },
    generateRecipes() {
      axios
        .get(`${this.$store.getters.getServerPath}/generate/recipes`)
        .then(response => {
          this.recipes = response.data.recipes;
          console.log(this.recipes)
        });
    },
    removeHTML(myString) {
      return myString.replace(/<[^>]*>?/gm, "");
    }
  }
};
</script>
