<template>
  <section class="content-wrapper">
    <div v-if="recipe && loaded" class="recipe">

            <a class="back-to-recipes next" @click="backToMyRecipes">< Regresar a mi recetario</a>

      <div class="ingredientes box mt-10">
        <div class="ingredientes-wrapper">
          <div class="recipe__title">
            <h1 v-text="removeSubject(generateRecipeName)"></h1>

            <ul class="ingredients__quantity">
              <p class="title__label">Ingredientes:</p>
              <li
                v-for="ingredient in generateIngredientesQuantity"
                :key="ingredient"
                v-text="ingredient"
              ></li>
            </ul>
          </div>

          <div class="bottle">
            <img :src="'images/'+salsa.image" :alt="salsa.name" />
          </div>
        </div>
      </div>

      <div class="gallery-ingredients">
        <div class="item" v-for="ingredient in imagesIngredients" :key="ingredient.id">
          <img :src="'images/'+ingredient.image" :alt="ingredient.name" />
        </div>
      </div>
      <!-- <div class="get_ready mt-30">
        <h2>Procedimientos</h2>

      </div>-->
      <div class="preparation get_ready">
        <h2>Alistamiento de ingredientes</h2>

        <ul>
          <div v-for="ingredient in usedIngredients" :key="ingredient.name" class="procedimiento">
            <div v-if="ingredient.serve != null">
              <strong class="ingredient__serve">{{removeSubject(ingredient.name)}}:</strong>
              <span v-html="ingredient.serve"></span>
            </div>
          </div>
        </ul>
      </div>

      <div class="preparation get_ready mt-30">
        <h2>Alistamiento del procedimiento</h2>

        <p v-html="changeTagsByIngredients(tecnic.protein)"></p>

        <div v-if="tecnic.grain">
          <p v-html="changeTagsByIngredients(tecnic.grain)"></p>
        </div>

        <div v-if="tecnic.cereal">
          <p v-html="changeTagsByIngredients(tecnic.cereal)"></p>
        </div>

        <div v-if="tecnic.vegetable">
          <p v-html="changeTagsByIngredients(tecnic.vegetable)"></p>
        </div>

        <div v-if="tecnic.fruit">
          <p v-html="changeTagsByIngredients(tecnic.fruit)"></p>
        </div>

        <div v-if="tecnic.salad">
          <p v-html="changeTagsByIngredients(tecnic.salad)"></p>
        </div>
      </div>

      <div class="get_ready mt-30">
        <h2>Procedimiento</h2>
        <p v-html="changeTagsByIngredients(tecnic.description)"></p>
      </div>

      <!-- {{tecnic.protein}} -->
      <!-- <div v-if="!isEmpty(generateProtein.tecnic)" class="alistamiento">
      <span v-if="generateProtein.tecnic">
        <strong>Técnica:</strong>
        {{generateProtein.tecnic}}
      </span>
      <div v-if="generateProtein.tecnic" v-html="generateProtein.description"></div>
    </div>
    <div v-else>
      No hay técnicas de cocción asociadas en
      <strong>{{recipe[0].name}}</strong>
      </div>-->

      <a class="back-to-recipes next mt-20" @click="backToMyRecipes">< Regresar a mi recetario</a>


    </div>
  </section>
</template>
<script>
export default {
  name: "Recipe",
  props: ["uuid"],
  data() {
    return {
      recipe: {},
      recipes: this.$store.getters.getMyRecipes,
      loaded: false,
      ingredients: [],
      salsa: [],
      usedIngredients: [],
      imagesIngredients: [],
      set: ""
    };
  },
  mounted() {
    this.loadRecipe();
    this.$store.dispatch("updateStage", 8);
    this.$store.dispatch("setBar", "Menú del día.<br> ¡Es hora de cocinar!");
  },
  computed: {
    generateRecipeName() {
      if (!this.isEmpty(this.ingredients))
        return `${this.ingredients[0].name} con ${this.ingredients[5].name}`;
    },
    generateIngredientesQuantity() {
      if (!this.isEmpty(this.recipe)) {
        //console.log(this.tecnic);

        let list = [];

        if (this.tecnic.protein !== null) {
          list.push(
            `150 grs de ${this.removeSubject(this.ingredients[0].name)}`
          );
          this.usedIngredients.push(this.ingredients[0]);
          this.imagesIngredients.push(this.ingredients[0]);
        }

        if (this.tecnic.grain !== null) {
          list.push(
            `1/2 taza de ${this.removeSubject(this.ingredients[1].name)}`
          );
          this.usedIngredients.push(this.ingredients[1]);
          this.imagesIngredients.push(this.ingredients[1]);
        }

        if (this.tecnic.cereal !== null && this.ingredients[2] !== null) {
          list.push(
            `1/2 taza de ${this.removeSubject(this.ingredients[2].name)}`
          );
          this.usedIngredients.push(this.ingredients[2]);
          this.imagesIngredients.push(this.ingredients[2]);
        }

        if (this.tecnic.fruit !== null) {
          list.push(
            `1/2 taza de ${this.removeSubject(this.ingredients[3].name)}`
          );
          this.usedIngredients.push(this.ingredients[3]);
          this.imagesIngredients.push(this.ingredients[3]);
        }

        if (this.tecnic.vegetable !== null) {
          list.push(
            `1/2 taza de ${this.removeSubject(this.ingredients[4].name)}`
          );
          this.usedIngredients.push(this.ingredients[4]);
          this.imagesIngredients.push(this.ingredients[4]);
        }

        list.push(`2 cucharadas de ${this.ingredients[5].name}`);

        this.usedIngredients.push(this.ingredients[5]);

        list.push(
          `2 cucharaditas de ${this.removeSubject(this.ingredients[6].name)}`
        );
        this.usedIngredients.push(this.ingredients[6]);

        list.push(
          `1/2 taza de ${this.removeSubject(this.ingredients[7].name)}`
        );
        this.usedIngredients.push(this.ingredients[7]);

        list.push(
          `1/2 cucharadita de ${this.removeSubject(this.ingredients[8].name)}`
        );
        this.usedIngredients.push(this.ingredients[8]);

        //console.log(this.usedIngredients);

        return list;
      }
    }
  },
  methods: {
    backToMyRecipes(){

      if(this.recipes.length > 0){
        this.$router.push({ name: 'recetas'})
      } else {
        this.$router.push({ name: 'recetasSet', params: { set: this.set } })
      }

    },
    removeSubject(str) {
      return str.substr(str.indexOf(" ") + 1);
    },
    isEmpty(obj) {
      for (var key in obj) {
        if (obj.hasOwnProperty(key)) return false;
      }
      return true;
    },
    changeTagsByIngredients(str) {
      let tags = [
        "proteína",
        "grano",
        "cereal",
        "fruta",
        "verdura",
        "salsa",
        "aderezo",
        "hortaliza",
        "especia"
      ];
      tags.forEach((tag, index) => {
        var re = new RegExp(tag, "g");
        if (this.ingredients[index] !== null)
          str = str.replace(re, this.ingredients[index].name);
      });

      return str.replace(/\*/g, "");
    },
    loadRecipe() {
      axios.get(`${this.$store.getters.getServerPath}/recipe/${this.uuid}`).then(response => {
        this.recipe = response.data;
        this.tecnic = this.recipe.tecnic;
        this.set = response.data.set;
        this.ingredients = Object.values(this.recipe.ingredients);
        this.salsa = this.ingredients[5];

        //console.log(this.ingredients, this.tecnic);

        this.loaded = true;
      });
    },
    removeHTML(myString) {
      return myString.replace(/<[^>]*>?/gm, "");
    }
  }
};
</script>
<style lang="scss" scoped>
.recipe {
  margin: 30px;
  h1 {
    color: #fff;
    font-family: "Baron Neue Bold";
  }
  .ingredients__quantity {
    ul {
      li {
        color: #ffffff;
      }
    }
  }
}
</style>