.breadcrumbs {
  position: relative;
  width: 95%;
  z-index: 10;

  &.fixed {
    position: fixed;
    width: 100%;
    top: 63px;
    left: 0;
    z-index: 1;
    background: #ffffff;
    padding: 10px 0px;
    box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);

    ul{
      margin-top: 5px;
    }

    @media all and (max-width:320px){
      font-size: .8em;

    }
  }
  ul {
    display: flex;
    margin: 0;
    padding: 0;
    margin-top: 0.8em;
    justify-content: center;
    width: 100%;
    li {
      list-style: none;
      font-size: 0.65em;
      padding: 0.25em 1.3em 0.25em 0;
      cursor: pointer;
      //border: 1px solid #7e7e7e;
      display: flex;
      flex-direction: column;
      align-items: center;
      color: #7e7e7e;
      font-weight: bold;
      //background: rgba(250, 240, 240, 0.95);
      position: relative;
      .indicator {
        color: rgb(150, 150, 150);
        font-size: 0.8em;
      }
      //SIZE CIRCLE
      $circle-size: 32px;

      &.selected {
        &::before {
          background: #681819;
        }
      }

      &.active {
        &::before {
          background: linear-gradient(90deg, #681819 50%, rgba(240, 240, 240) 50%);
        }
      }
      &::before {
        content: "";
        width: 100%;
        height: 4px;
        //background: rgba(240, 240, 240);
        background: rgba(240, 240, 240);
        position: absolute;
        left: 3px;
        //left: 5px;
        top: ($circle-size/2)+1;
        z-index: -1;
      }
      /*       &:first-child {
        padding-right: 0;
        &::before {
          content: none;
        }
      }
      &:last-child {
        padding-left: 0;
        &::before {
          content: none;
        }
      } */

      &:last-child {
        padding-right: 0;
        &::before {
          content: none;
        }
      }

      .btn {
        width: $circle-size;
        height: $circle-size;
        background: #ffffff;
        border: 2px solid rgba(rgba(200, 200, 200), $alpha: 0.8);
        border-radius: 100px;
        padding: 0;
        background-repeat: no-repeat;
        background-size: 50%;
        background-position: center;
        margin-bottom: 2px;
      }

      &.selected {
        color: #000000;
        .btn {
          background: #681819 url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/breadcrumb-check.svg);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: center;
          border: none;
          &::before {
            background: rgba(240, 240, 240);
          }
        }
      }
      &.active {
        color: #000000;
        .btn {
          background: #ffffff url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/breadcrumb-check.svg);
          background-repeat: no-repeat;
          background-size: 50%;
          background-position: center;
          &::before {
            background: rgba(240, 240, 240);
          }
        }
      }
    }
  }

  @media all and (min-width: 1200px) {
    width: calc(80% - 25px);
  }
}

@media all and (min-width: 768px) {

  .content-wrapper .leyend{
    font-size: 1.2em !important;
  }
  .breadcrumbs {
    ul {
      //SIZE CIRCLE
      $circle-size: 40px;
      li {
        font-size: 1.1em;
        padding: 0.5em 0.6em;
        margin: 0.5em;
        .btn {
          width: $circle-size;
          height: $circle-size;
          max-width: $circle-size;
          max-height: $circle-size;
        }
        &::before {
          width: 130%;
          height: 4px;
          left: 15px;
          top: ($circle-size/2)+4;
        }
        &.active {
          &::before {
            background: linear-gradient(90deg, #681819 30%, rgba(240, 240, 240) 30%);
          }
        }
      }
    }
  }
}
