.buttons-wrapper {
  padding: 0.5em 0;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  flex: 1 1 auto;
  justify-content: space-between;
  width: 100%;
  .option {
    background: rgb(228, 228, 228);
    border-radius: 10px;
    width: 30%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    margin: 0.15em;
    cursor: pointer;
    //height: 170px;
    color: #fff;
    font-family: "Baron Neue Bold";
    text-transform: uppercase;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: flex-end;
    padding: 0;
    font-size: 3em;
    margin: 0.15em auto;
    flex: 1 0 auto;
    position: relative;
    overflow: hidden;
    img {
      position: absolute;
      width: 100%;
      height: 100%;
      z-index: 1;
      object-fit: cover;
      object-position: center;
    }
    h2 {
      color: #fff;
      font-size: 1em;
      position: relative;
      z-index: 1;
    }

    &.selected {
      &::before {
        content: "";
        position: absolute;
        left: 0;
        top: 5px;
        width: 62px;
        height: 58px;
        background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/selected.svg);
        background-size: cover;
        z-index: 2;
      }
    }
  }
  &.wide {
    .option {
      width: 100%;
    }
  }
  &.med {
    flex-direction: row;
    justify-content: space-between !important;
    .option-group {
      width: 48%;
      .option {
        width: 100%;
        margin: 0.3em 0 0;
        font-size: 2.2em;
        h2 {
          font-size: 0.6em !important;
        }
      }
      &:nth-child(odd) {
        .option {
          &:nth-child(odd) {
            height: 255px;
          }
          &:nth-child(even) {
            height: 155px;
          }
        }
      }
      &:nth-child(even) {
        .option {
          &:nth-child(odd) {
            height: 155px;
          }
          &:nth-child(even) {
            height: 255px;
          }
        }
      }
    }
  }
  &.slim {
    flex-direction: row;
    .option-group {
      width: 29%;
      .option {
        width: 100%;
        margin: 0.3em 0 0;
        font-size: 1em;
      }
      &:nth-child(odd) {
        .option {
          &:nth-child(odd) {
            height: 170px;
          }
          &:nth-child(even) {
            height: 100px;
          }
        }
      }
      &:nth-child(even) {
        .option {
          &:nth-child(odd) {
            height: 100px;
          }
          &:nth-child(even) {
            height: 170px;
          }
        }
      }
      &:nth-child(3n + 1):nth-child(even) {
        .option {
          &:nth-child(odd) {
            height: 170px !important;
          }
          &:nth-child(even) {
            height: 100px !important;
          }
        }
      }
      &:nth-child(3n + 2):nth-child(odd) {
        .option {
          &:nth-child(odd) {
            height: 100px !important;
          }
          &:nth-child(even) {
            height: 170px !important;
          }
        }
      }
      &:nth-child(3n + 3):nth-child(even) {
        .option {
          &:nth-child(odd) {
            height: 170px !important;
          }
          &:nth-child(even) {
            height: 100px !important;
          }
        }
      }
    }
  }
  &.tools {
    .option {
      position: relative;
      .mini-tool {
        position: absolute;
        top: -0.25em;
        right: -0.5em;
        img {
          max-width: 100px;
          height: auto;
        }
      }
    }
  }
}
@media only screen and (min-width: 1280px) {
  $tall: 350px;
  $short: 250px;
  .buttons-wrapper {
    &.tools {
      .option {
        .mini-tool {
          top: -0.25em;
          right: -0.75em;
          img {
            max-width: 150px;
          }
        }
      }
    }
    &.wide {
      flex-direction: row;
      justify-content: space-around;
      .option {
        width: 49%;
        flex: 0 1 auto;
      }
    }
    &.med {
      justify-content: space-evenly;
      .option-group {
        display: flex;
        flex-direction: column;
        width: 24%;
        &:nth-child(odd) {
          .option {
            &:nth-child(odd) {
              flex: 2 0 $tall;
            }
            &:nth-child(even) {
              flex: 1 1 $short;
            }
          }
        }
        &:nth-child(even) {
          .option {
            &:nth-child(odd) {
              flex: 1 1 $short;
            }
            &:nth-child(even) {
              flex: 2 0 $tall;
            }
          }
        }
      }
    }
    &.slim {
      justify-content: flex-start;
      .option-group {
        width: 15.9%;
        display: flex;
        flex-direction: column;
        margin: 0 0.3em;
        .option {
          font-size: 1.8em;
        }
        &:nth-child(odd) {
          .option {
            &:nth-child(odd) {
              height: 170px;
            }
            &:nth-child(even) {
              height: 100px;
            }
          }
        }
        &:nth-child(even) {
          .option {
            &:nth-child(odd) {
              height: 100px;
            }
            &:nth-child(even) {
              height: 170px;
            }
          }
        }
        &:nth-child(3n + 1):nth-child(even) {
          .option {
            &:nth-child(odd) {
              height: 100px !important;
            }
            &:nth-child(even) {
              height: 170px !important;
            }
          }
        }
        &:nth-child(3n + 2):nth-child(odd) {
          .option {
            &:nth-child(odd) {
              height: 170px !important;
            }
            &:nth-child(even) {
              height: 100px !important;
            }
          }
        }
        &:nth-child(3n + 3):nth-child(even) {
          .option {
            &:nth-child(odd) {
              height: 100px !important;
            }
            &:nth-child(even) {
              height: 170px !important;
            }
          }
        }
      }
    }
  }
}
@media only screen and (min-width: 1180px) and (max-width: 1280px) {
  .buttons-wrapper {
    &.slim {
      .option-group {
        width: 15.8% !important;
        .option {
          font-size: 1.2em;
        }
      }
    }
  }
}
