.user-form {
  .fade-enter-active,
  .fade-leave-active {
    transition: opacity 0.5s;
  }
  .fade-enter, .fade-leave-to /* .fade-leave-active below version 2.1.8 */ {
    opacity: 0;
  }
  display: flex;
  flex: 1 0 auto;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 95%;
  .text-input {
    position: relative;
    margin-bottom: 1.5em;
    width: 100%;

    label {
      font-size: 1em;
      transition: all 0.5s ease-in-out;
    }
  }

  input{
    width: 100%;
    color: rgba(25, 25, 25, 0.95);
    font-size: inherit;
    font-family: inherit;
    text-align: left;
    background-color: transparent;
    border: 1px solid rgba(80, 80, 80, 0.52);
    border-radius: 10px;
    box-sizing: border-box;
    padding: 12px 10px !important;
    margin-top: 10px;
  }

  input:focus {
    outline: none;
  }

  input::placeholder {
    color: rgba(50, 50, 50, 0.7);
  }

  span {
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 1px;
    background-color: #c30000;
    transform-origin: bottom right;
    transform: scaleX(0);
    transition: transform 0.5s ease;
    border-radius: 10px;
    width: 95%;
    margin-left: auto;
    margin-right: auto;
  }

  input:focus ~ span {
    transform-origin: bottom left;
    transform: scaleX(1);
  }

  /*   input[type="date"]::-webkit-inner-spin-button {
    display: none;
  }

  input[type="date"]::-webkit-calendar-picker-indicator {
    display: none;
    margin-left: 0;
    padding-left: 0;
    background: red;
  } */
}
