html,
body {
  //min-height: 100vh;
  height: auto;
  padding: 0;
  margin: 0;
  display: flex;
  flex-direction: column;
  max-width: 100vw;
  min-width: 320px;
  overflow-x: hidden;
}

.home{
  width: 90%;
  margin: 0 auto;
  .leyend{
    font-size: 1.1em !important;
    width: 100% !important;
  }
}
.mt-20 {
  margin-top: 20px !important;
}
.mt-40 {
  margin-top: 50px !important;
}
.mt-30 {
  margin-top: 35px !important;
}
.mt-10 {
  margin-top: 10px !important;
}
.mt-15 {
  margin-top: 15px !important;
}
#app {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.global-div {
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}
.main-wrapper {
  min-width: 320px;
  display: flex;
  flex-direction: column;
  align-items: center;
  flex: 1 1 auto;
  margin-top: 60px;
  //background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/main-box-background.png);
}

.content-wrapper {
  width: 70%;
  flex: 1 1 auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 55px;
  position: relative;

  &.scroll{
    margin-top: 64px !important;

    @media all and (min-width: 1025px){
      margin-top: 110px !important;
    }
  } 

  @media all and (max-width:500px){
    padding-bottom: 80px;
    width: 90%;

    .leyend{
      font-size: .9em !important;
      padding: 10px !important;
    }
  }


  // @media all and (min-width: 1900px){
  //   width: 50%;
  // }
  &.tight {
    padding-bottom: 0;
  }

  &.mt{
    margin-top: 30px;
  }
}

.can-continue{
  background: #efaa06;
  height: 50px;
  padding: 10px 45px 10px 30px;
  color: #FFF;
  border-radius: 5px;
  font-size: 1.25em;
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed;
  bottom: 3vh;
  right: -20%;
  cursor: pointer;

  @media all and (max-width: 1100px){
    display: none !important;
  }


  &::before{
    content: "";
    background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/next.svg);
    width: 12px;
    height: 20px;
    background-size: contain;
    position: absolute;
    background-repeat: no-repeat;
    top: 50%;
    transform: translateY(-50%);
    right: 15px;
  }

  &.show{
    animation: toRight .65s ease-in-out 0s forwards;
  }
}

@keyframes toRight{
  from{
    right: -20%;
  }
  to{
    right: 6%;
  }
}
//Button
.next {
  width: 100%;
  background: #9b0a15 !important;
  font-family: "Baron Neue Bold" !important;
  font-size: 1.3em !important;
  text-align: center !important;
  border-radius: 10px !important;
  line-height: 1.2em !important;
  margin: 0em 0 0.5em;
  padding: 15px 20px 10px 20px !important;
  color: #fff !important;
  text-decoration: none !important;
  cursor: pointer !important;
  display: block !important;
  text-transform: lowercase !important;
  animation: pulse 2s infinite;
  transform: scale(1);
  box-shadow: 0 0 0 0 rgba(155, 10, 21, 1);

  @keyframes pulse {
    0% {
      box-shadow: 0 0 0 0 rgba(155, 10, 21, 0.4);
    }
    70% {

        box-shadow: 0 0 0 10px rgba(155, 10, 21, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(155, 10, 21, 0);
    }
  }

  @keyframes pulse-red {
    0% {
      box-shadow: 0 0 0 0 rgba(155, 10, 21, 0.4);
    }
    70% {

        box-shadow: 0 0 0 10px rgba(155, 10, 21, 0);
    }
    100% {

        box-shadow: 0 0 0 0 rgba(155, 10, 21, 0);
    }
  }

  &--red{
    background-color: #9b0a15 !important;
    width: 80%;
    font-size: 1.4em !important;
    margin-bottom: 45px;
    animation: pulse-red 2s infinite !important;
  }

  &.back-to-recipes{
    font-size: 0.8em !important;
    width: fit-content;
    padding: 10px 20px !important;
  }
}

.status-float {
  //border-radius: 10px 10px 0 0px;
  height: 3.5em;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
  color: #fff;
  font-family: "Antonio";
  background-color: #000;
  z-index: 50;
  position: fixed;
  bottom: 0px;
  left: 0;
  font-size: 1.1em;
  padding: 0.5em 1em;
  letter-spacing: 1px;
  cursor: pointer;

  &.to-right {
    justify-content: flex-end;
  }

  div {
    position: relative;
    &::before {
      content: "";
      background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/next.svg);
      width: 12px;
      height: 20px;
      background-size: contain;
      position: absolute;
      background-repeat: no-repeat;
      top: 50%;
      transform: translateY(-50%);
    }

    &.back-feedback {
      padding-left: 20px;
      &::before {
        left: 0;
        transform: translateY(-50%) rotate(180deg);
      }
    }

    &.continue-feedback {
      padding-right: 20px;
      &::before {
        right: 0;
      }
    }
  }

  .feedback {
    font-size: 0.8em;
  }

  img {
    width: 60px;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
  }

  @media all and (min-width: 1100px) {
    height: 3.5em;
    font-size: 1.2em;
    position: relative;
    width: 65%;
    margin: 0 auto;
    background-color: transparent;
    justify-content: center;

    img{
      display: none;
    }

    & > div{
      padding: 20px 45px 20px 45px !important;
    border-radius: 5px;
    font-size: 1.3em;
    background-color: #990a15;
    }

    .continue-feedback{
      margin-left: 35px;

      &::before{
        right: 20px !important;
      }
    }

    .back-feedback::before {
      left: 20px !important;
  }

  }
}

.items-count {
  position: fixed;
  right: 10px;
  bottom: 12vh;
  background: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/shopping-cart.svg) #ffffff;
  background-size: 75%;
  background-repeat: no-repeat;
  background-position: 6px 58%;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  z-index: 100;
  border: solid 1px rgba(150, 150, 150, 0.4);
  &:after {
    content: attr(data-badge);
    position: absolute;
    position: absolute;
    top: -7px;
    right: -8px;
    font-size: 0.7em;
    background: #bb283c;
    color: white;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
    border-radius: 50%;
    box-shadow: 0 0 1px #333;
  }
}

a {
  cursor: pointer;
}

.noshow {
  display: none;
}

nav {
  background: #191919;
  position: fixed;
  z-index: 100000;
  top: 0;
  width: 100%;
  height: 4em;
  display: flex;
  align-items: flex-start;
  justify-content: space-evenly;
  padding-top: 0.7em;
  box-shadow: 0px 5px 5px 1px rgba(0, 0, 0, 0.5);

  img {
    width: 3.75em;
  }

  // &.solo {
  //   img:last-child {
  //     display: none;
  //   }
  // }
}

@media all and (max-width: 1025px){
  
  .items-count {
    bottom: 10% !important;
  }
}

@media only screen and (max-width: 500px) {
.items-count {
  bottom: calc(61px + 10px) !important;
}
}

@media only screen and (min-width: 768px) {
  .items-count {
    right: 25px;
    width: 50px;
    height: 50px;
    bottom: 13%;

    &:after {
      width: 20px;
      height: 20px;
      font-size: 0.8em;
      line-height: 20px;
    }
  }
}


@media all and (min-width: 1100px) {
//   .content-wrapper{
//     margin-top: 30px;

//   //   .leyend {
//   //     width: 65% !important;
//   // }
// }

.user-form {
  width: 80%;
  background: #FFF;
  padding: 20px 30px;
  border-radius: 5px;
}

.hot-level .bottle-container .level-title {
  font-size: 2.8em !important;
}

.hot-level .bottle-container p {
  font-size: 1.1em !important;
  margin-top: -10px;
  color: #3a3a3a;
}


.hot-level .bottle-container img {
  max-height: 305px!important;
  margin-top: 20px;
}
.fire {
  width: 18px !important;;
  height: 18px !important;;
  margin-bottom: 10px !important;;
}

.hot-level .slider-container .range-text p {
  font-size: .8em !important;
}
.hot-level .slider-container .range-text a .fire.high, .hot-level .slider-container .range-text a:link .fire.high, .hot-level .slider-container .range-text a:visited .fire.high {
  width: 40px !important;;
  height: 40px !important;;
}

.hot-level .slider-container .range-text a .fire.med, .hot-level .slider-container .range-text a:link .fire.med, .hot-level .slider-container .range-text a:visited .fire.med {
  width: 30px !important;;
  height: 30px !important;;
}

a.next.spice {
  margin-top: 20px !important;;
}



}