.grid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(215px, 1fr));
  grid-auto-rows: 130px;
  grid-gap: 10px;
  width: 100%;
  margin: 20px;
  position: relative;

  &#reverse {
    .item:nth-child(odd) {
      grid-row: span 1;
    }
    .item:nth-child(even) {
      grid-row: span 2;
    }
    .item:nth-child(3n) {
      grid-row: span 2;
    }
    .item:last-child {
      grid-column: span 1;
      grid-row: span 1;
    }
  }

  &--home {
    grid-auto-rows: 180px;
    grid-template-columns: repeat(auto-fit, minmax(350px, 1fr));
  }
  &--large {
    grid-template-columns: 100%;
  }

  &--three {
    grid-template-columns: repeat(3, minmax(100px, 1fr));
    grid-auto-rows: 110px;

    .item {
      &:nth-child(2n) {
        grid-row: span 2;
      }
      &:nth-child(4n) {
        grid-row: span 1;
      }
      &:last-child {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }

  &--two {
    grid-template-columns: repeat(2, minmax(100px, 1fr));
    grid-auto-rows: 160px;

    .item {
      &:nth-child(odd) {
        grid-row: span 2;
      }
      &:last-child {
        grid-column: span 1;
        grid-row: span 1;
      }
    }
  }

  .item {
    border-radius: 15px;
    //overflow: hidden;
    position: relative;
    cursor: pointer;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.33);
    animation: fadeIn 0.35s ease-in-out .45s forwards;
    opacity: 0;

    &::after{
      content: "";
      width: 100%;
      height: 100%;
      background: linear-gradient(45deg, rgba(255,255,255,0) 0%, rgba(117,117,117,0) 54%, rgba(0,0,0,0.55) 100%);
      position: absolute;
      top: 0;
      left: 0;
      border-radius: 15px;
    }

    svg{
      width: 40px;
      position: absolute;
      top: 4px;
      right: 4px;
      z-index: 10;
      //transform: scale(.8);
      transition: all .25s ease-in;
      cursor: pointer;
      animation: pulseSVG 1.5s ease-in-out .3s infinite;


    }

    @keyframes pulseSVG {
      from {
        -webkit-transform: scale3d(.8, .8, .8);
        transform: scale3d(.8, .8, .8);
      }
    
      50% {
        -webkit-transform: scale3d(.95, .95, .95);
        transform: scale3d(.95, .95, .95);
      }
    
      to {
        -webkit-transform: scale3d(.8, .8, .8);
        transform: scale3d(.8, .8, .8);
      }
    }



    // &::before {
    //   content: "";
    //   position: absolute;
    //   right: 5px;
    //   top: 5px;
    //   width: 40px;
    //   height: 40px;
    //   background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/love.svg);
    //   background-size: cover;
    //   z-index: 2;
    //   transform: scale(.8);
    //   transition: all .3s ease-in;
    //   cursor: pointer;
    // }

    &:nth-child(even){
      animation: fadeIn 0.35s ease-in-out .2s forwards;
    }
    @keyframes fadeIn {
      from {
        opacity: 0;
      }
      to {
        opacity: 1;
      }
    }

    .mini-tool {
      display: none;
      position: absolute;
      top: -0.25em;
      right: -15px;
      img {
        width: 75px;
        max-height: 90px;
        object-fit: contain;
      }
    }

    img {
      border-radius: 15px;
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      -webkit-user-drag: none;
      -khtml-user-drag: none;
      -moz-user-drag: none;
      -o-user-drag: none;
      user-drag: none;
    }

    h2 {
      color: #fff;
      font-size: 1.8em;
      text-shadow: 1px 2px 3px rgba(0, 0, 0, 0.65);
      position: absolute;
      z-index: 1;
      bottom: 5px;
      width: 100%;
      text-align: center;
      font-family: "Baron Neue Bold";
      letter-spacing: 1px;
      margin: 0;
      text-transform: lowercase;
    }

    &.selected {

      // &::before {
      //   background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/love-checked.svg);
      //   transform: scale(1);
      // }

      svg{

        
        animation: none;
        transform: scale(.9);

        #large{
          
          path{
            transition: all .2s ease-in;
          fill: #EA576B;
        }

        .st0{
          transition: all .2s ease-in;
          opacity: 1;
        }

      }
        #small{
          .st1 {
            transition: all .2s ease-in;
            opacity: 1;
            path{
              transition: all .2s ease-in;
              fill: #FFF;
            }
        }
        }
      }

    }

    @keyframes showSelected {
      0% {
        transform: scale(0.1);
      }
      100% {
        opacity: 1;
        transform: scale(1);
      }
    }
  }
}

@media all and (min-width: 1024px) {
  .grid {
    &--home {
      grid-auto-rows: 290px;
    }
  }
}

@media all and (max-width: 500px) {

  .buttons-wrapper .option h2 {
    font-size: 0.5em !important;
  }

  .grid .item h2 {
    font-size: 0.9em;
  }

  .grid--two {
    grid-auto-rows: 110px;
  }

  .grid .item::before {
    width: 40px !important;
    height: 40px !important;
    //transform: scale(1);
  }

  .grid--home .item h2 {
    font-size: 1.5em;
  }
}

@media all and (max-width: 320px) {

  .grid {
    &--two{
      grid-template-columns: repeat(2,48.5%);
    }

    &--three {
      grid-template-columns: repeat(3, minmax(85px, 1fr));
  }

}

.grid .item:before {
  width: 30px!important;
  height: 30px!important;
  transform: scale(1);
}

.content-wrapper {
  width: 95% !important;
}




}


@media all and (min-width: 1200px) {
  .grid {
    width: 100%;
    margin-bottom: 80px;
  }

  .grid--two {
    grid-template-columns: repeat(3, minmax(135px, 1fr));
    grid-auto-rows: 150px;

    .item {
      &:nth-child(4n) {
        grid-row: span 2;
      }

      &:nth-child(5n) {
        grid-row: span 1;
      }

      &:last-child {
        grid-column: span 1;
        // grid-column: span 2;
      }
    }
  }

  .grid--three {
    grid-template-columns: repeat(3, minmax(135px, 1fr));
    grid-auto-rows: 150px;
    .item {
      &:nth-child(odd) {
        grid-row: span 2;
      }

      &:nth-child(even) {
        grid-row: span 1;
      }

      &:nth-child(4) {
        grid-row: span 2;
      }

      &:nth-child(5) {
        grid-row: span 1;
      }

      &:nth-child(12) {
        grid-row: span 2;
      }

      &:nth-child(13) {
        grid-row: span 1;
      }

      &:last-child {
        grid-column: span 1;
        // grid-column: span 2;
      }
    }
  }
}

.loader {
  border: 8px solid #f3f3f3;
  border-top: 8px solid #b30a0a;
  border-radius: 50%;
  width: 50px;
  height: 50px;
  animation: spin 2s linear infinite;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  top: 52%;
  transform: translateY(-50%);
  position: absolute;

  @media all and (min-width: 1100px) {

    position: relative;
    margin-top: 110px;
    
  }

}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
