img.instructions {
  width: 335px;
}


.mobile{
  display: none !important;
}

.header-box {
  width: 100%;
  height: 460px;
  display: flex;
  //flex-direction: column;
  align-items: center;
  padding-bottom: 86px;
  justify-content: space-around;
  //border-radius: 0 0 12px 12px;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: top;
  color: #fff;
  overflow: hidden;
  box-shadow: 0px 6px 6px 0px rgba(0, 0, 0, 0.4);
  flex: 0 1 auto;
  position: relative;

  background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/intro-cover.jpg);

  &::before{
    content: "";
    position: absolute;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.29);
  }

  img.main-logo {
    position: relative;
    z-index: 1;
    cursor: pointer;
}


  .header__column {
    position: relative;
    z-index: 1;
}


  // .main-logo {
  //   display: none;
  // }
  .step-bar {
    //background-color: #4b041f;
    background-color: #000;
    width: 100%;
    display: flex;
    justify-content: center;
    padding: 20px;
    position: absolute;
    bottom: 0;

    @media all and (max-width:500px){
      padding: 10px;
      
    }

    p {
      font-family: "Baron Neue Bold";
      font-size: 2em;
      margin: 0;
      letter-spacing: 0.05em;
    }
  }
  &.scrollFixed{
    //padding-bottom: 62px;
  }
  // &.day {
    
  // }
  // &.night {
  //   background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/header-night-bg.png);
  // }
  p {
    font-family: "Antonio";
    font-weight: bold;
    font-size: 1.5em;
    text-align: center;
    margin: 1em;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
  }

  &.large {
    flex: 0 1 auto;
    // .main-logo {
    //   object-fit: contain;
    //   display: block;
    //   width: 35%;
    //   display: block;
    // position: absolute;
    // right: 5px;
    // top: 12%;
    // }
    p {
      font-size: 1em;
    }
    .step-bar {
      p {
        font-size: 2em;
      }
    }
  }
}

.breadcums {
  margin-top: 15px;
}

// @media only screen and (min-width: 1280px) {
//   .header-box {
//     background-position: center;
//     &.large {
//       .main-logo {
//         max-height: 210px;
//         width: auto;
//         align-self: flex-start;
//         margin-top: 35px;
//         margin-left: 170px;
//       }
//       p {
//         font-size: 1.5em;
//       }
//       .step-bar {
//         p {
//           font-size: 2.5em;
//         }
//       }
//     }
//   }
// }

@media only screen and (min-width: 1025px) {
  .header-box {
      background-position: 0 -75px !important;
  }

  // .header-box.large .main-logo {
  //     right: 40px;
  //     top: 10%;
  //     max-height: 170px;
  // }

}


@media all and (min-width: 1410px) {

  .header-box {
    background-position: 0 -85px !important;
}

}

@media all and (min-width: 1550px) {

  .header-box {
    background-position: 0 -145px !important;
}

}

@media all and (min-width: 1920px) {

  .header-box {
    background-position: 0 -240px !important;
}

}



@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) and (orientation : landscape) {


  img.instructions {
    width: 335px;
}

.header-box {
  height: 453px;
  background-size: 100%;
  background-position: 0 0;
}

img.main-logo {
  width: 275px;
}

.wrap {
  margin-left: 35px;
}






}

@media all and (max-width: 1024px){

  p.leyend br {
    display: none !important;
  }
}


@media all and (max-width: 768px) {


  .mobile{
    display: block !important;
  }

  .desktop{
    display: none !important;
  }



  .header__column {
    display: none;
}

.header-box {
  height: 365px;
  background-position: 0 -71px !important;


}

img.main-logo {
  width: 280px;
  position: relative;
  z-index: 100;
}

.home {
  width: 100%;
}

img.text-2 {
  width: 315px;
  margin-right: 45px;
}

p.leyend{
  padding: 20px !important;
}






}

@media all and (max-width:500px){
  img.main-logo {
    width: 215px;
    margin-top: 50px;
}



.header-box {
  height: 232px;
  background-position: -45px 0px !important;
  background-size: 138%;
}

.header-box .step-bar p {
  font-size: 1.1em !important;
  padding: 0 20px 0 20px;
}

}

@media all and (max-width:374px){

  .header-box {
    height: 195px;
    background-position: -45px 0!important;
    background-size: 135%;
}

img.main-logo {
  width: 160px;
  margin-top: 40px;
}



}



// @media only screen and (min-width: 1280px) and (max-width: 1380px) {
//   .header-box {
//     &.large {
//       .main-logo {
//         max-height: 120px;
//         width: auto;
//       }
//     }
//   }
// }

