.hot-level {
  // flex: 1 0 auto;
  // display: flex;
  // align-items: center;
  // justify-content: center;
  width: 100%;
  margin: .5em 0 1em;
  // flex-direction: column;

  p.instruction__select {
    font-size: .9em !important;
    color: #681818;
    margin-top: 0;
    font-weight: bold;
}

.choose-spice{
  display: flex;
  align-items: flex-end;
  justify-content: space-around;
  width: 75%;
  margin-top: 10px;

  .column__spice{

    p{

      color: #FFF;
      border-radius: 5px;
      padding: 5px 10px;
      display: block;
      margin-top: 5px;
      cursor: pointer;

      &.low{
        background: #9ca702;
      }
      &.medium{
        background: #ac7e01;
      }
      &.hot{
        background:#fa2323;
      }
    }
  }

  img{
      width: 65px;
      filter: grayscale(1);
      cursor: pointer;
      animation: pulseSpice 1.5s ease-in-out .3s infinite;

      // &:nth-child(2){
      //   animation-delay: .4s;
      // }


      // &:nth-child(3){
      //   animation-delay: .5s;
      // }


      &.active{
          filter: grayscale(0);
      }

      @keyframes pulseSpice {
        from {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      
        50% {
          -webkit-transform: scale3d(1.05, 1.05, 1.05);
          transform: scale3d(1.05, 1.05, 1.05);
        }
      
        to {
          -webkit-transform: scale3d(1, 1, 1);
          transform: scale3d(1, 1, 1);
        }
      }
  }
}



  .bottle-container {
    flex: 2 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-around;
    flex-direction: column;
    p {
      font-size: 0.8em;
      margin-bottom: 0.2em;
      text-align: center;
    }
    .level-title {
      color: rgb(50, 50, 50);
      font-size: 2em;
      font-family: "Baron Neue Bold";
      margin: 0.2em 0 0.5em;
    }

    .low {
      color: rgb(156, 167, 2);
    }

    .med {
      color: #ac7e01;
    }

    .hot {
      color: #fa2323;
    }

    .inner-box{
    img {
      width: 50%;
      height: 255px;
      object-fit: contain;
    }
  }
    .inner-box {
      display: flex;
      justify-content: center;
      .inner-text {
        // display: flex;
        // flex-direction: column;
        // flex: 0 1 30%;
      }
    }
  }

  .slider-container {
    flex: 0 1 auto;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    margin-top: 2em;
    //min-height: 360px;
    //height: 100%;

    .range-title {
      color: #ffffff;
      font-size: 1.5em;
      font-family: "Antonio";
      margin: 1em 0 2em;
      text-align: center;
    }

    .range-text {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      height: auto;
      text-align: center;
      color: #ffffff;
      font-size: 1.5em;
      flex: 1 1 auto;
      p {
        margin: 0;
        margin-top: 0.2em !important;
        color: black;
        text-align: center;
        font-size: 0.6em;
        font-family: "Baron Neue Bold";
      }
      a,
      a:link,
      a:visited {
        display: flex;
        flex-direction: column;
        //justify-content: center;
        align-items: center;
        margin: auto 1.5em 0;
        .fire {
          &.med {
            width: 30px;
            height: 30px;
          }
          &.high {
            width: 40px;
            height: 40px;
          }
        }
      }

      a:hover {
        background: rgba(255, 255, 255, 0.05);
      }

      p {
        margin: 0;
      }
    }
  }
}

.spice {
  background: #c14242;
}

@media only screen and (min-width: 768px) and (max-width: 991px) {
  .hot-level {
    width: 60%;
  }
}

@media only screen and (min-width: 768px) {
      .inner-box {
        flex-direction: column-reverse;
        justify-content: space-around;
        align-items: center;
        // .inner-text {
        //   align-items: center;
        //   justify-content: space-evenly;
        // }
      }

      .hot-level p.instruction__select {
        margin-top: 15px;
    }

    .inner-text p{
      width: 75%;
      margin: 0 auto !important;
    }

}

@media all and (max-width: 768px){

  .choose-spice {

    width: 65% !important;

    img{
    width: 55px !important;
    }
}

}

@media all and (max-width: 500px){

  .hot-level p.instruction__select {
    width: 60%;
}

.choose-spice {
  width: 75% !important;
}




.hot-level .bottle-container .inner-box {
  align-items: center;
  margin-top: 20px !important;
}

.hot-level .bottle-container .inner-box img {
  height: 160px;
  margin-top: 30px !important;
}


}
