

img.instructions {
  width: 390px;
}


.intro {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  position: relative;
  padding-top: 1em;
  &::after {
    content: "";
    width: 100%;
    height: 100%;
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    background: url(https://www.amazonpepper.com/wp-content/uploads/2020/01/intro-content-background-1024x1024.png);
    opacity: 0.2;
    background-size: 80%;
  }
  .home {
    display: flex;
    flex-direction: column;
    align-items: center;

    .next {
      z-index: 20;
    }
  }
  .top-line {
    z-index: 2;
    background-repeat: repeat-x;
    height: 46px;
    width: 100%;
    background: url(https://www.amazonpepper.com/wp-content/uploads/2020/01/intro-lines.png);
  }

  .inner-wrapper {
    z-index: 2;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }
  .secondary {
    display: flex;
    position: relative;
    flex-direction: row;
    align-items: center;
    margin: 2em auto;
    min-height: 250px;
    .mockup {
      margin: 0;
      margin-top: -180px;
      margin-left: 25px;
    }
    .wrap {
      width: 120px;
      position: relative;
      transform: rotate(10deg);
    }
    .phone {
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      z-index: 10;
    }
    .gif {
      width: 90%;
      top: 0;
      left: 0;
      position: absolute;
      margin-left: auto;
      margin-right: auto;
      right: 0;
      border-radius: 20px;
    }
  }
}




@media only screen and (min-width: 1024px) {
  .intro {
    .text-1 {
      width: 260px;
    }
    &::after {
      background-size: 40%;
    }
    .secondary {
      min-height: 380px;
      margin: 3em auto;
      .text-2 {
        width: 320px;
      }
      .wrap {
        width: 210px;
        margin-left: 30px;
      }
      .mockup {
        margin: 0;
        margin-top: -340px;
        margin-left: 50px;
      }
    }
  }
}
