.recipe {
  display: flex;
  flex-direction: column;
  width: 100%;
  color: rgb(53, 52, 52);
  font-family: 'Ubuntu', sans-serif;
  margin: auto 1em;
  margin-top: 2em;

  .box {
    background: rgba($color: #5e5e5e, $alpha: 0.6);
    margin: 1em 0 1em 0;
    border-radius: 15px;
    padding: 2em 5em;
    //max-width: 800px;
    background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/box-bg.jpg);
    background-size: cover;
    background-repeat: no-repeat;
    p,
    ul {
      margin-left: 0;
      padding-left: 0;
    }

    .title__label {
      color: #fdaf05;
      font-style: italic;
    }
    ul {
      list-style-position: inside;

      &.ingredients__quantity {
        li {
          font-size: 1.1em;
          color: #fff;
        }
      }
    }

    h1,
    h2 {
      color: #fdaf05 !important;
      font-family: "Baron Neue Bold";
      margin: auto;
      text-align: left;

      //background: rgba($color: #5e5e5e, $alpha: 1);
      // margin-top: -1.5em;
      //border-radius: 15px;
      margin-bottom: 1em;
      font-size: 2.5em;
    }
  }

  p {
    color: rgb(53, 52, 52);
  }

  .procedimiento {
    strong {
      font-size: 1.3em;
    }
    p {
      margin: 0;
    }
    margin-bottom: 10px;
  }

  .gallery-ingredients {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(160px, 1fr));
    grid-auto-rows: 150px;
    grid-gap: 15px;
    margin-bottom: 35px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      object-position: center;
      border-radius: 10px;
    }
  }

  .ingredientes {
    .ingredientes-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 80%;
      margin: 0 auto;
      .bottle {
        // background-image: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/product-bg.png);
        flex: 0 1 50%;
        min-width: 340px;
        justify-content: center;
        display: flex;
        background-size: 60%;
        background-repeat: no-repeat;
        background-position: center;
        img {
          max-height: 350px;
          width: auto;
        }
      }
    }
  }
  .get_ready {
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
    border-radius: 15px;
    padding: 30px 35px;
    background: #fff;
    li{
      margin-bottom: 5px;
      &:last-child{
        margin-bottom:  0;
      }
    }

    h2 {
      color: #8b0808;
      margin-bottom: 20px;
    }

    ul {
      padding: 0;
      list-style-position: inside;
    }
  }
}


.section_recetasSet, .section_recetas{

  .content-wrapper {
    width: 50%;
  }
}


.recipe-list {
  margin-top: 1.5em;
  width: 100%;
  .recipes {
    margin: 30px;
  }
  .btn__generate {
    margin-bottom: 20px;
  }
  .recipe__thumb {
    width: 100%;
    border: solid 1px #d4d4d4;
    position: relative;

    border-radius: 15px;
    padding: 15px;
    display: block;
    margin: 0;
    text-decoration: none;
    background-repeat: no-repeat;
    background-size: 100%;
    background-position: center;
    min-height: 155px;

    h2 {
      color: rgb(20, 20, 20);
      font-size: 1.2em;
    }
    button {
      color: rgb(43, 42, 42);
    }
    .ingredientes-wrapper {
      display: flex;
      justify-content: space-between;
      align-items: center;
      flex-direction: row;
      width: 80%;
      margin: 0 auto;

      &.all-recipes{
        width: 100%;
      }
      .recipe__title {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: flex-start;
        p {
          color: #ffffff;
          font-size: 2.4em;
          font-weight: bold;
          margin: 0;
          font-family: "Baron Neue Bold";
        }
        h2 {
          color: #ffffff;
          font-size: 1.3em;
          //margin: 0.5em 0;
          font-weight: 500;
          font-family: 'Ubuntu', sans-serif;
        }
        button {
          background: #ffffff;
          font-size: 1em;
          padding: 0.8em 1.3em .6em;
          color: #000000;
          border-radius: 8px;
          font-weight: bold;
          font-family: "Baron Neue Bold";
          line-height: 1.1em;
          cursor: pointer;
        }
      }
      .bottle {
        width: 30%;
        img {
          margin: 0 auto;
    width: 180px;
    height: 280px;
    object-fit: contain;
    object-position: center;
    display: block;
        }
      }
    }
    $gradiant: linear-gradient(90deg, rgba(0, 0, 0, 1) 10%, rgba(255, 255, 255, 0) 80%);

    &--0{
      background-image: $gradiant, url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/recipe-bg/news/bg-1.jpg);
    }
    &--1{
      background-image: $gradiant, url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/recipe-bg/news/bg-2.jpg);
    }
    &--2{
      background-image: $gradiant, url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/recipe-bg/news/bg-3.jpg);
    }
    &--3{
      background-image: $gradiant, url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/recipe-bg/news/bg-4.jpg);
    }
    &--4{
      background-image: $gradiant, url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/recipe-bg/news/bg-5.jpg);
    }
    &--5{
      background-image: $gradiant, url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/recipe-bg/news/bg-6.jpg);
    }
    &--6{
      background-image: $gradiant, url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/recipe-bg/news/bg-7.jpg);
    }
  }
}






@media all and (max-width: 1200px) {

  .section_recetasSet .content-wrapper, .section_recetas .content-wrapper {
    width: 75%;
}

.recipe-list .recipe__thumb .ingredientes-wrapper .recipe__title {
  font-size: .9em;
}

.recipe-list .recipe__thumb .ingredientes-wrapper .bottle img {
  height: 240px;
}


}


@media all and (max-width: 768px) {



  .section_recetasSet .content-wrapper, .section_recetas .content-wrapper {
    width: 85%;
}

.recipe-list .recipe__thumb .ingredientes-wrapper .recipe__title {
  font-size: 1em;
}


  .recipe__title {
    width: 80%;
  }
  .recipe .ingredientes .ingredientes-wrapper .bottle {
    min-width: 250px;
  }

  .recipe {
    .box {
      padding: 2em 2.2em;
    }
  }

  .recipe .gallery-ingredients {
    grid-template-columns: repeat(auto-fit, minmax(95px, 1fr));
    grid-gap: 10px;
  }
  .recipe-list {
    width: 100%;
  }
}

@media all and (max-width: 500px) {

  .section_recetasSet .content-wrapper, .section_recetas .content-wrapper{
    width: 90%;
  }

  .recipe-list .recipe__thumb .ingredientes-wrapper .recipe__title {
    font-size: .75em;
}

.recipe-list .recipe__thumb .ingredientes-wrapper .bottle img {
  height: 155px;
  width: 110px;
}



  .recipe .box h1 {
    font-size: 1.65em;
    text-align: center;
  }

  .recipe .ingredientes .ingredientes-wrapper {
    flex-direction: column;
    align-items: center;
  }
  .recipe__title {
    width: 100%;
  }

  .recipe .box ul.ingredients__quantity li {
    font-size: 1em;
  }

  .recipe .ingredientes .ingredientes-wrapper .bottle {
    margin-top: 20px;
  }

  .recipe .ingredientes .ingredientes-wrapper .bottle img {
    max-height: 285px;
  }

  .recipe .box {
    margin-top: 0;
    padding: 2em 1.8em;
  }

  .recipe .gallery-ingredients {
    grid-auto-rows: 80px;
  }
  .recipe-list {
    width: unset;
  }
}


@media all and (max-width: 360px) {

  .recipe-list .recipe__thumb{
    background-size: 125%;
  }
  .change-recipe{
    width: 43% !important;
  }
}