.toasted-container {
  .toasted {
    display: flex;
    justify-content: center !important;
    text-align: center;
    color: #fff !important;
    border: none !important;
    background: #feb004 !important;
  }
}
