.scroll-indicator {
  position: fixed;
  right: 0;
  top: 50%;
  transform: translateY(-50%);
  background: rgba(255, 255, 255, 0.8);
  z-index: 15;
  padding: 2em 0.5em;
  border-top-left-radius: 15px;
  border-bottom-left-radius: 15px;
  &.fixed {
    opacity: 0;
    transition: linear 0.5s;
  }
  &.no_show {
    display: none;
  }
  &::before,
  &::after {
    content: "";
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  &::before {
    width: 9px;
    height: 9px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
    animation: arrow 3s infinite ease-in-out;
  }
  &::after {
    width: 8px;
    height: 8px;
    border-right: 1px solid #000;
    border-bottom: 1px solid #000;
    transform: rotate(45deg);
    animation: arrow 3s infinite ease-in-out;
    animation-delay: 0.75s;
    opacity: 0.25;
  }
  & > div {
    display: block;
    &::before,
    &::after {
      content: "";
      display: block;
      margin-left: auto;
      margin-right: auto;
      border-right: 1px solid #000;
      border-bottom: 1px solid #000;
      transform: rotate(45deg);
      animation: arrow 3s infinite ease-in-out;
    }
    &::before {
      width: 9px;
      height: 9px;
      animation-delay: 0.25s;
    }
    &::after {
      width: 8px;
      height: 8px;
      animation-delay: 0.5s;
    }
  }
}

@keyframes dot {
  0% {
    transform: scale(0.75);
    opacity: 0.25;
  }
  25% {
    transform: scale(1);
    opacity: 1;
  }
  100% {
    transform: scale(0.75);
    opacity: 0.25;
  }
}

@keyframes arrow {
  0% {
    transform: scale(0.75) rotate(45deg);
    opacity: 0.25;
  }
  25% {
    transform: scale(1) rotate(45deg);
    opacity: 1;
  }
  100% {
    transform: scale(0.75) rotate(45deg);
    opacity: 0.25;
  }
}

.content-wrapper {
  .leyend {
    width: 100%;
    background-color: #9a0a15;
    text-align: center;
    color: #FFF !important;
    font-size: 1em;
    margin: 0;
    margin-top: 1em;
    line-height: 1.1em;
    padding: 20px 100px;
    border-radius: 10px;
    &.tight {
      margin: 0;
    }
    &--recipes{
      font-size: 1em;
    }
  }
  .inner-step {
    font-size: 1.2em;
    margin: 10px 0 0.5em 0;
    width: 100%;
    color: #4b041e;

    @media all and (max-width: 500px){
      font-size: 1em;
      text-align: center;
    }
  }
}

h3.share {
  font-weight: 400;
  text-align: center;
  width: 80%;
  margin-top: 30px;
}