//Main
@import "normalize";
@import "vars";
@import "grid";
@import "general";
//@import "intro";
@import "header-box";
@import "breadcrumbs";
@import "buttons-wrapper";
@import "hot-level";
@import "forms";
@import "toast";
//@import "fire";
@import "recipe";
@import "tweaks";


.cookies {
    display: none !important;
    position: fixed;
    bottom: -300px;
    left: 0;
    width: 100%;
    display: flex;
    padding: 27px 55px;
    background-color: #4b041f;
    justify-content: space-between;
    align-items: center;
    z-index: 1000;
    animation: fadeCookies .5s ease-in-out 1.8s forwards;

    @keyframes fadeCookies {
            from{
                bottom: -300px;
            }
            to{
                bottom: 0;
            }
    }

    p{
        font-size: .9em;
        color: #FFF;
        width: 70%;
        text-align: justify;
    }

    a{
        color: #FFF;
    }

    button{
        background: #FFF;
        border: none;
        outline: none;
        -webkit-appearance: none;
        padding: 10px 15px;
        color: #4b041f;
        border-radius: 5px;
        cursor: pointer;
    }

    @media all and (max-width: 768px){

        p {
            font-size: 0.9em;
            color: #FFF;
            width: 80%;
        }

    }

    @media all and (max-width: 500px){
        padding: 15px 20px;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;

        p{
            width: 100%;
            font-size: .75em;
            margin: 0 0 5px 0;
        }

        button {
            font-size: .8em;
        }

    }
}


footer {
    background: #000;
    color: #fff;
    font-family: "Baron Neue";
    padding: 40px;
    text-align: center;

    a{
        color: #fff;
        text-decoration: none;
        font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
        font-size: .8em;
    }

    @media all and (max-width: 1100px){
        display: none;
    }
}

.section_homeA,.section_homeB, .section_homeC{
    .cookies{
        display: flex !important;
    }
}

.section_homeA,.section_homeB, .section_homeC, .section_recetasSet, .section_recetas, .section_recipe{

    @media all and (max-width: 1100px){



    footer{

        
            display: block !important;
        }


    .content-wrapper {
        padding-bottom: 50px;
    }

}

}

.section_homeC{

    @media all and (max-width: 500px){

        .next {
            font-size: 1.3em!important;
            line-height: 1.2em !important;
            padding: 15px 10px !important;
        }
    }

}

.section_formulario{

    @media all and (max-width: 374px){

        .header-box .step-bar p {
            font-size: .9em !important;
        }


    }

}

.section_recetasSet, .section_recetas{

    @media all and (max-width: 500px){

        .content-wrapper{
            padding-bottom: 30px;
        }


    }

}



.wrap {
    width: 320px;
    position: relative;
    transform: rotate(8deg);

    .phone{
        width: 95%;
        position: relative;
        z-index: 10;
    }

    .gif{
        width: 90%;
        position: absolute;
        z-index: 1;
        left: -15px;
        right: 0;
        margin-left: auto;
        margin-right: auto;
        top: 13px;
        border-radius: 10%;
        clip-path: polygon(0 0, 100% 0, 100% 92%, 0 92%);
    }
}

.secondary {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 65px 0;
}

img.text-1 {
    width: 350px;
    display: block;
    margin: 0 auto;
    margin-right: 35px;
}

img.text-2 {
    width: 340px;
    margin-right: 45px;
}

.top-line {
    z-index: 2;
    background-repeat: repeat-x;
    height: 45px;
    width: 100%;
    background: url(https://www.amazonpepper.com/amazon-7-dias-intensidad/images/intro-lines.png);
    background-size: contain;
    margin-top: 30px;
}


@media all and (max-width: 768px){

    .secondary {
        flex-direction: column;
        margin: 0;
    
        }

        img.text-2{
            width: 70%;
            margin: 0 0 70px 0;
        }

        .wrap {
            width: 270px;
        }


        
}

@media all and (max-width: 500px){

    .toasted-container .toasted{
        height: 62px !important;
    }

    .top-line {
        display: none;
    //height: 30px;
    }

    img.text-1 {
        width: 75%;
    }
    img.text-2{
        width: 70%;
        margin: 0;
    }
    .wrap {
        width: 185px;
        position: relative;
        transform: rotate(5deg);
    }

    .wrap .gif {
        left: -16px;
        right: 0;
        top: 7px;
    }
    body {
        background-size: 110%;
    }
    .mt-40 {
        margin-top: 25px !important;
    }
}

