<template>
<div class="recipe__container">
  <router-link
    :to="{ name: 'recipe', params: { uuid: recipe.uuid }}"
    class="recipe__thumb"
    :class="'recipe__thumb--'+dayRecipe"
  >
  <div v-if="changingRecipe" class="full-width">
    <div class="ingredientes-wrapper all-recipes">
      <div class="recipe__title">
        <p>Día {{dayRecipe + 1}}</p>
        <h2>{{generateRecipeName}}</h2>
        <!-- <p>Mezcla de [proteína] con [vegetal] y [cereal] acompañado de [aderezo] en [salsa].</p> -->
        <button>Descúbrela aquí</button>
      </div>
      <div class="bottle">
        <img :src="'images/'+recipe.salsa.image" :alt="recipe.salsa.name" />
      </div>
    </div>

    </div>

    <div v-else class="recipe__loading">
      <div class="lds-ellipsis"><div></div><div></div><div></div><div></div></div>
    </div>

  </router-link>
      <div class="change-recipe" @click="change" v-if="chanChange">
        <img :src="'images/refresh.svg'" :alt="recipe.salsa.name" />
      ¡Quiero otra receta!
    </div>
    </div>
</template>
        
<script>
import {
  removeSubjectIngredient,
} from "../../helpers";
export default {
  name: "ThumbnailRecipe",
  props: ["recipe", "dayRecipe", "chanChange"],
    watch : {
    recipe : function (value) {
      //console.log(value)
    }
  },
  data(){
    return{
      changingRecipe: true
    }
  },
  computed: {
    generateRecipeName() {
      return `${this.removeFirstWord(this.recipe["protein"].name)} con ${this.removeFirstWord(this.recipe["vegetable"].name)} y ${this.recipe["salsa"].name}`;
    }
  },
  methods: {
    change(){
      //console.log('quiero cambiar')
      this.changingRecipe = false;
      this.$emit('clicked', this.dayRecipe)
      setTimeout(() => {
        this.changingRecipe = true;
      }, 500);
    },
    goToRecipe(uuid) {
      router.push({ name: "recipe", params: { uuid: this.recipe.uuid } });
    },
    removeSubject(str) {
      return str.substr(str.indexOf(" ") + 1);
    },
        removeFirstWord(str) {
      return removeSubjectIngredient(str);
    },
  }
};
</script>
<style lang="scss" scoped>
.full-width{
  width: 100%;
}
.recipe__container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
    width: 100%;

    &:last-child{
      margin: 0;
    }
}

.change-recipe{
    padding: 5px 10px;
    margin-top: 5px;
    text-align: left;
    align-items: center;
    display: flex;
    justify-content: center;
    color: #FFF;
    cursor: pointer;
    background: #000000;
    border-radius: 5px;
    font-size: 0.8em;
    width: 39%;
    align-self: flex-end;

    @media all and (min-width: 768px){
    font-size: 1.2em;
    padding: 10px;
    margin-top: 10px;
    width: 45%;
    
    }

  img{
    width: 20px;
    margin-right: 10px;
  }
}

.lds-ellipsis {
  display: inline-block;
  position: relative;
  width: 80px;
  height: 80px;
}
.lds-ellipsis div {
  position: absolute;
  top: 33px;
  width: 13px;
  height: 13px;
  border-radius: 50%;
  background: #fff;
  animation-timing-function: cubic-bezier(0, 1, 1, 0);
}
.lds-ellipsis div:nth-child(1) {
  left: 8px;
  animation: lds-ellipsis1 0.6s infinite;
}
.lds-ellipsis div:nth-child(2) {
  left: 8px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(3) {
  left: 32px;
  animation: lds-ellipsis2 0.6s infinite;
}
.lds-ellipsis div:nth-child(4) {
  left: 56px;
  animation: lds-ellipsis3 0.6s infinite;
}
@keyframes lds-ellipsis1 {
  0% {
    transform: scale(0);
  }
  100% {
    transform: scale(1);
  }
}
@keyframes lds-ellipsis3 {
  0% {
    transform: scale(1);
  }
  100% {
    transform: scale(0);
  }
}
@keyframes lds-ellipsis2 {
  0% {
    transform: translate(0, 0);
  }
  100% {
    transform: translate(24px, 0);
  }
}

.recipe__loading{
  position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);
    right: 0;
    margin-left: auto;
    margin-right: auto;
        text-align: center;
}


</style>